@charset "UTF-8";

@media (min-width:768px) and (max-width: 1024px)  {
	.no-padding-left{padding-left:15px;}
	.no-padding-right{padding-right:15px;}

	.bt-nr-bian{top:18px;}
	.jdwz{padding:15px 30px;}
	.jb-menu-bnt{width:560px;}
	.ttxx-index-a{width:610px;}
	.xp-huiyuan{width:auto;}
	.footer-logo{padding-top:15px;}
	.attention{margin-top:15px;}

	.xp-huiyuan li{padding-top:6px;width:68px;}
	.xp-huiyuan li img{width:55px;height:55px;}

	.cbp_box{width:100%;}

	.photo-list{margin:15px 0;}
	.photo-list li{margin:5px;width:162px;}
	.my-dialog{width:90%;}
	.pad-msg{margin:0px;}
	.pad-msg .photo-info{padding-left:15px;padding-right:15px;}

	.view-page-xx .ttxx-index-a{width:580px;}

	/*remark*/
	.publish-content{width:auto;border-left:none;}
	.r-user{width:620px;}
	.rr-cont{width:578px;}
}