@charset "utf-8";

.shopIcon{background:url("../../images/memorials/muyuan/nva.png") left top no-repeat;display:inline-block;height:24px;vertical-align:middle;}
.shopIcon.shop{width:16px;background-position:left 0;}
.shopIcon.locker{width:17px;background-position:-16px 0;}
.shopIcon.cd{width:18px;background-position:-33px 0;}
.shopIcon.cart{width:27px;background-position:-51px 0;}
.shopIcon.diy{width:33px;background-position:-78px 0;}
.shopIcon.xhbd{width:16px;background-position:-112px 0;}
.shopIcon.cmd{width:15px;background-position:-128px 0;}
.shopIcon.zxzs{width:17px;background-position:-144px 0;}
.shopIcon.zdtg{width:30px;background-position:-162px 0;}
.shopIcon.tbda{width:19px;background-position:-192px 0;}
.shopIcon.sjmy{width:18px;background-position:-211px 0;}

.my-width{margin:0 auto;}
.shop-content{width:980px;margin:54px auto auto auto;}

/*.shop-content .muyuan-tabs{border-bottom:none;position:relative;background-color:#fff;border-radius: 4px 4px 0 0;padding:5px 5px 0 5px;border-bottom:1px solid #ff8400;}*/
.shop-content .muyuan-tabs{border-bottom:none;position:relative;padding:0;background-color:#d6e0db;border-radius:4px 4px 0 0;}
.shop-content .muyuan-tabs > li{margin-bottom:0px;}
.shop-content .muyuan-tabs > li > a{color:#666;border:none;transition:all 0.15s ease-out 0s;}
.shop-content .muyuan-tabs > li > a > em{position:absolute;background-color:#8b4513;color:#FFF;top:-8px;right:5px;padding:0 5px;border-radius:4px;}
.shop-content .muyuan-tabs > li > a:hover,
.shop-content .muyuan-tabs > li.active > a,
.shop-content .muyuan-tabs > li.active > a:hover,
.shop-content .muyuan-tabs > li.active > a:focus{border:none !important;background-color:#fff;color:#666;border:1px solid #ff8400;}

.shop-content .muyuan-tabs > li > a:hover .shop,
.shop-content .muyuan-tabs > li.active > a .shop{background-position:left -24px;}
.shop-content .muyuan-tabs > li > a:hover .locker,
.shop-content .muyuan-tabs > li.active > a .locker{background-position:-16px -24px;}
.shop-content .muyuan-tabs > li > a:hover .diy,
.shop-content .muyuan-tabs > li.active > a .diy{background-position:-78px -24px;}
.shop-content .muyuan-tabs > li > a:hover .cart,
.shop-content .muyuan-tabs > li.active > a .cart{background-position:-51px -24px;}
.shop-content .muyuan-tabs > li > a:hover .cd,
.shop-content .muyuan-tabs > li.active > a .cd{background-position:-33px -24px;}
.shop-content .muyuan-tabs > li > a:hover .xhbd,
.shop-content .muyuan-tabs > li.active > a .xhbd{background-position:-112px -24px;}
.shop-content .muyuan-tabs > li > a:hover .cmd,
.shop-content .muyuan-tabs > li.active > a .cmd{background-position:-128px -24px;}
.shop-content .muyuan-tabs > li > a:hover .zxzs,
.shop-content .muyuan-tabs > li.active > a .zxzs{background-position:-144px -24px;}
.shop-content .muyuan-tabs > li > a:hover .zdtg,
.shop-content .muyuan-tabs > li.active > a .zdtg{background-position:-162px -24px;}
.shop-content .muyuan-tabs > li > a:hover .tbda,
.shop-content .muyuan-tabs > li.active > a .tbda{background-position:-192px -24px;}
.shop-content .muyuan-tabs > li > a:hover .sjmy,
.shop-content .muyuan-tabs > li.active > a .sjmy{background-position:-211px -24px;}

.shop-content .muyuan-tabs .close-modal{position:absolute;right:0;bottom:0;overflow:hidden;}
.shop-content .muyuan-tabs .close{font-size:35px;height:40px;width:40px;line-height:30px;text-align:center;}
.shop-content .muyuan-content{padding:10px;background-color:#FFF;border-radius:0 0 4px 4px;}

.package-btn{padding:30px 0;}
.package-btn a{padding:10px 30px;background-color:#808080;color:#FFF;border-radius:4px;font-size:18px;margin:0 5px;}
.package-btn a.active, .package-btn a:hover{background-color:#ff8400;}

.btn.btn-package{background-color:#ff8400;padding:10px 30px;color:#FFF;font-size:18px;}
.package{text-align:center;font-size:28px;font-weight:bold;padding-bottom:20px;}

.center-form{width:300px;margin:0 auto;padding-left:0 !important;}
.package-form{/*width:300px;margin:0 auto;*/padding-left:210px;}
.package-form .dropdown-menu{margin:0;}
.package-form ul{padding:0;margin:20px 0;list-style:none;}
.package-form ul li{padding:2px 0;}
.package-form ul li span{text-align:right;width:100px;margin-right:10px;display:inline-block;font-weight:bold;}
.package-form ul li input[type=text]{width:180px;height:30px;line-height:28px;border:1px solid #e0e0e0;}
.package-form ul li input.v-code{width:100px;}

.package-form .select-ttid{display:inline-block;}
.package-form .select-ttid .dropdown-menu{margin:0;}
.package-form .select-ttid{margin-bottom:10px;}
.package-form .select-ttid > a{color:#FFF;border-radius:4px;padding:0 5px;background-color:#ff8400;}

.product-list dl{float:left;margin:5px;position:relative;width:150px;height:212px;}
.product-list dt{text-align:center;font-size:16px;}
.product-list dd{position:relative;border:1px solid #e0e0e0;}
.product-list dd .thumb{padding:15px 0;text-align:center;height:116px;}
.product-list dd .thumb img{width:86px;height:86px;}
.product-list dd .thumb.is-loading{background:url('../../images/loading.gif') center center no-repeat;}
.product-list dd .thumb.is-broken{background:#ff8400 url('../../images/memorials/broken.png') center center no-repeat;}
.product-list dd .thumb.is-broken img{display:none !important;}

.product-list dd .thumb img{display:none;}
.product-list dd .price-info{font-size:12px;background-color:#e0e0e0;padding:5px;}
.product-list dd .mask{display:none;padding-top:40px;text-align:center;}
.product-list dd .mask .btn{margin-top:5px;}
.product-list dd:hover{border:1px solid #000;}
.product-list dd:hover .mask{width:100%;height:100%;background:url('../../images/memorials/dot.png');position:absolute;left:0;top:0;display:block;}
.product-list dd .product-intro{display:none;}

.show_product_info{position:absolute;top:8px;border:2px solid #f18f03;width:300px;z-index:9999;background-color:#FFF;padding:10px;display:none;}
.show_product_info .is-loading{background:url('../../images/loading.gif') center center no-repeat;min-height:80px;}
.show_product_info .is-broken{background:#ff8400 url('../../images/memorials/broken.png') center center no-repeat;min-height:80px;}
.show_product_info .is-broken img{display:none !important;}
.show_product_info h4{text-align:center;}

.locker-list dd{cursor:pointer;}
.locker-list dd:hover{border:1px solid #ff8400 !important;}
.locker-list dd .price-info{position:relative;}
.locker-list dd:hover .price-info{background-color:#ff8400;color:#FFF;}
.locker-list dd .price-info .t2{display:none;line-height:35px;height:44px;font-weight:bold;text-align:center;font-size:16px;line-height:44px;position:absolute;bottom:0;left:0;width:100%;height:100%;background-color:#ff8400\9;background-color:rgba(241,143,3,.9);}
.locker-list dd:hover .price-info .t2{display:block;}
.locker-list dd.active{border:1px solid #ff8400;}
.locker-list dd .b2{display:none;}
.locker-list dd.active .b1{display:none;}
.locker-list dd.active .b2{display:block;}
.locker-list dd.active .price-info{background-color:#ff8400;color:#FFF;}

.favorite{position:absolute;bottom:0;width:100%;text-align:right;/*background-color:#5bc0de;*/}
.favorite.text-right{text-align:right !important;}
.favorite a{color:#FFF;padding:0 3px;line-height:24px;}
.favorite a:hover{background-color:#FFF;color:#333;}
.favorite a.red{background-color:#d9534f;color:#FFF !important;}
.favorite a.red:hover{color:#FFF;background-color:#d43f3a;}

.setTemplate dl{float:left;margin:0 0 15px 16px;position:relative;width:220px;height:200px;}
.setTemplate dt{text-align:center;font-size:16px;}
.setTemplate dd{position:relative;overflow:hidden;height:170px;}
.setTemplate dd img{/*width:100%;*/display:none;}
.setTemplate dd .price-info{background:url('../../images/memorials/w-dot.png');width:100%;font-size:12px;padding:5px;position:absolute;bottom:0;overflow:hidden;}
.setTemplate dd .price-info .btn-group{display:none;clear:both;float:right;}
.setTemplate dd.is-loading{background:url('../../images/loading.gif') center center no-repeat;}
.setTemplate dd.is-broken{background:#ff8400 url('../../images/memorials/broken.png') center center no-repeat;}
.setTemplate dd.is-broken img{display:none !important;}
.setTemplate dd.is-broken div{display:none;}
.setTemplate dd.hover{-moz-box-shadow:2px 2px 10px #080808; -webkit-box-shadow:2px 2px 10px #080808; box-shadow:2px 2px 10px #080808;background-color:rgba(255,255,255,.8);background-color:#FFF\9;border:2px solid #999\9;}
.setTemplate dd.hover .price-info{position:relative;}
.setTemplate dd.hover .price-info .btn-group{display:block;}

.search-list{padding-top:15px;}
.search-list a{display:inline-block;padding:2px 5px;color:#333;}
.search-list a:hover, .search-list .dropdown.open > a, .search-list a.cur{background-color:#ff8400;color:#FFF;}
.search-list .dropdown{display:inline-block;}
.search-list input{border:1px solid #e0e0e0;}
.search-list input._num{width:60px;}

.my-dropdown-menu{background-color:#ff8400\9;background-color:rgba(255,132,0,.9);border:none;border-radius:0;margin-top:0;}
.my-dropdown-menu > li > a{color:#FFF;}
.my-dropdown-menu > li > a:hover, .my-dropdown-menu > li > a:focus{border-left:1px solid #ff8400;border-right:1px solid #ff8400;}

.data-grid{border:1px solid #dbdbdb;border-bottom:none;}
.data-grid th{text-align:center;border-bottom:1px solid #dbdbdb;}
.data-grid td{border-bottom:1px solid #dbdbdb;text-align:center;}
.checkout-area{border:1px solid #dbdbdb;margin-top:15px;}
.checkout-area .action{padding:6px 0 0 10px;}
.counter{display:inline-block;}
.counter input{width:42px;border:1px solid #e0e0e0;}
.counter > a{display:inline-block;width:22px;text-align:center;background-color:#999;height:24px;font-size:16px;color:#fff;}
.counter > a:hover{background-color:#000;}

.package-form .dropdown-menu > li > a{padding:3px 10px;}

.locker-dialog{width:832px !important;}
