
/*清除浮动*/
@font-face {
    font-family: 'Zurich Extra CondensedRegular';
    src: url('../hooracy/zurichbt-boldextracondensed-webfont.eot');
	src: local('Zurich Extra Condensed Regular'),
         local('Zurich Extra Condensed'),
         url('../hooracy/zurichbt-boldextracondensed-webfont.woff2') format('woff2'),
         url('../hooracy/zurichbt-boldextracondensed-webfont.woff') format('woff'),
         url('../hooracy/zurichbt-boldextracondensed-webfont.ttf') format('truetype'),
         url('../hooracy/zurichbt-boldextracondensed-webfont.svg#Zurich Extra Condensed') format('svg');
}

.clearfix{
    zoom: 1;
}
.clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after{
    clear: both;
}
dt{
	font-weight:normal;
	}
ul{margin:0; padding:0}
ul li{list-style:none;}

/*官网首页*/
body{background-color:#fff; margin:0 auto; min-width:320px; margin:0; font-family:  Helvetica,Tahoma,Arial,'Hiragino Sans GB',"Microsoft YaHei",SimSun,Heiti,sans-serif;}



/*------------------------banner轮播-----------start-----------*/
 .item a{
	 display: block;
    /*   background: url("../images/banner01.jpg") no-repeat center center!important; */
	background-size: cover;
	height:500px;
	width:100%;
	min-width:1170px;
	cursor: pointer;  
}


/* .item3{
    background: url("../images/pic20.png")no-repeat center center;
    background-size: 100% 100%;
}  */

#myCarousel .carousel-control{
	top:41%;
	width: 4%;
	height: 68px;
	margin-bottom: 194px;
	font-family: "宋体";
	font-size: 50px;
	border-radius: 4px;
} 

#myCarousel .carousel-control:hover{
	background: rgba(0,0,0,.2);
	color:#fff;
	opacity:1;
}


#myCarousel .carousel-control.right{
	right:60px;
}

#myCarousel .carousel-control.left{
	left:60px;
}

#myCarousel .carousel-indicators li{
	margin-left:15px;
}

.carousel.carousel-banner{
	min-width: 1170px;
}


.carousel-inner.carousel-min-width{
	min-width: 1170px;
}

.banner-text-1,.banner-text-2{
	text-shadow:0 0 2px red;
    font-size: 36px;
    color: #fff;
}

.banner-text-2{
    margin-top: 25px;
}

.banner-text-3{
	text-shadow:0 0 1px red;
    font-size: 20px;
    color: #fff;
    margin-top: 25px;
}

.btn-center-1{
    text-align: center;
    margin-top: 50px;
}

.banner-btn{
	box-shadow:0 0 2px red;
    display: inline-block;
    width: 150px;
    height: 40px;
    border: 2px solid rgba(255,255,255,.8);
    border-radius: 20px;
    color: #fff;
    line-height: 40px;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    -webkit-transition: background .3s, color .3s, border .3s;
    -moz-transition: background .3s, color .3s, border .3s;
    -ms-transition: background .3s, color .3s, border .3s;
    -o-transition: background .3s, color .3s, border .3s;
    transition: background .3s, color .3s, border .3s;
}

.banner-btn:hover{
    background: rgba(255,255,255,1);
    color: #ff6e5d;
    border: 2px solid #fff;
    text-decoration: none;
}

/*------------------------banner轮播-----------end-----------*/



.mod-wrap{
	position: relative;
	height: 609px;
	background:#fff;
	width:100%;
	overflow: hidden;
}
.mod-inner{width:1170px;  margin:0 auto; padding-top:64px; padding-bottom:120px; min-width:320px;} 
.mod-titile h4{margin:0; font-size:32px; margin-left:310px; color:#333333; font-weight:bold; margin-bottom:24px;}
.mod-titile span{display: block; width: 100%; text-align: center; font-size:16px;  color:#666; }

/*图标内容*/
.mod-content{
	position:absolute;
	overflow:hidden;
	margin-top:64px; 
	min-width:320px;
	
	top: 545px;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-ms-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;

	}
.mod-content-ul{

transition:all 2s  ease-out;
-webkit-transition:all 2s ease-out;
-moz-transition: all 2s ease-out;
-o-transition: all 2s ease-out;
}
.mod-content-ul li{
	display:inline-block;
	width:214px;
	margin:0 10px;
	text-align:center;
	vertical-align:top;
	}
.mod-content-ul li h3{
	transition: all 1s;
	}
.mod-content-ul li:hover h3{
	color:#e03434;
	}
.mod-content-ul li a{
	display:inline-block;
	width:100%;
	}
.mod-content-ul li a:hover{
	text-decoration:none;
	}
.mod-pic{
	width:100%;
	text-align:center;
	position:relative;
	height:140px;
	}
.mod-pic img{
	width:50%;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-53px;
	margin-left:-53.5px;
	}
.mod-content-ul li:hover img{
	animation:move 1.8s ease-in  infinite;
	-webkit-animation:move 1.8s ease-in  infinite;
	-moz-animation:move 1.8s  ease-in  infinite;
	-o-animation:move 1.8s ease-in  infinite;
	-ms-animation:move 1.8s ease-in  infinite;
	}
@keyframes move{
	0%,100%{
		margin-top:-72px;
		}
	20%{
		margin-top:-72px;
		}
	55%{
		margin-top:-48px;
		}
	60%{
		margin-top:-48px;
		}
	}
@-webkit-keyframes move{
	0%,100%{
		margin-top:-72px;
		}
	20%{
		margin-top:-72px;
		}
	55%{
		margin-top:-60px;
		}
	60%{
		margin-top:-60px;
		}
	}
@-moz-keyframes move{
	0%,100%{
		margin-top:-72px;
		}
	20%{
		margin-top:-72px;
		}
	55%{
		margin-top:-60x;
		}
	60%{
		margin-top:-60px;
		}
	}
@-o-keyframes move{
	0%,100%{
		margin-top:-72px;
		}
	20%{
		margin-top:-72px;
		}
	55%{
		margin-top:-60px;
		}
	60%{
		margin-top:-60px;
		}
	}
@-ms-keyframes move{
	0%,100%{
		margin-top:-72px;
		}
	20%{
		margin-top:-72px;
		}
	50%{
		margin-top:-48px;
		}
	55%{
		margin-top:-48px;
		}
	}
.mod-content-ul h3{
	margin: 0;
	font-size: 21px;
	font-weight:bold;
	color: #333333;
	margin-top: 30px;
	margin-bottom: 20px;
	}
.mod-content-ul p,.mod-content-ul span{
	font-size: 14px;
	color: #666;
	margin-bottom: 10px;
	}
/*-------------案例-------------start-----------*/
.help-block.span-style.span-style-1{color:#333;  margin:0; line-height:40px; margin-top:20px;}
.btn.btn-lg.btn-js.btn-js-1{background:#e03636; color:#fff;box-shadow:none; border:1px solid #e03636; font-size:14px;}
.btn.btn-lg.btn-js.btn-js-1:active{box-shadow:none; }
.btn.btn-lg.btn-js.btn-js-2{background:rgba(255,255,255,0); color:#e03636; border:1px solid #e03636; font-size:14px;}
.btn.btn-lg.btn-js.btn-js-2:active{box-shadow:none; }

.anli{
	position:relative;
	height:928px;
	overflow:hidden;
    background: #f5f5f8;
    padding: 90px 0;
	min-width: 1170px;
}
.row-div-join{
	position:absolute;
	top:920px;
	overflow:hidden;
	width:1140px;
	transition:all 2s ease-out;
	-webkit-transition:all 2s ease-out;
	-ms-transition:all 2s ease-out;
	-moz-transition:all 2s ease-out;
	-o-transition:all 2s ease-out;
	}
.row-div-join .thumbnail .caption{
	padding:13px;
	}
.anli .container .row-div-1 .row .div1 .div2,
.anli .container .row-div-2 .row .div1 .div2{
    padding: 0;
    border-radius: 0;

    -webkit-transition: transform .3s, box-shadow .1s;
    -moz-transition: transform .3s, box-shadow .1s;
    -ms-transition: transform .3s, box-shadow .1s;
    -o-transition: transform .3s, box-shadow .1s;
    transition: transform .3s, box-shadow .1s;
}
.anli .container .div2 .caption p{margin:0;}
.div1 .thumbnail{padding:0; border:0; margin-bottom:60px;}

.anli .container .row-div-1 .row .div1 .div2:hover,
.anli .container .row-div-2 .row .div1 .div2:hover{
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);

    box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.1);
}

.text-style-1{
	font-weight:bold;
    font-size: 32px;
    color: #333;
}

.text-style-2{
    font-size: 16px;
    color: #666;
    margin-top: 28px;
}

.btn-center{
    text-align: center;
    margin-top: 60px;
}

.container .btn-center .btn-group .btn{
    outline: none;
}
/*-----------案例--------------end-----------------*/



/*-----------我们的营销实力-------------start--------------*/
.index-big{
	width:100.01%;
	height:600px;
	overflow:hidden;
	}
.bg-image-2 {
    background: url("../images/pic018.jpg") no-repeat;
	width: 1980px;
	height:1080px;	
	background-size:cover;
	position:relative;
	left:50%;
	margin-left:-990px;
	background-attachment:fixed;
	
}
.counter.col-xs-4{
	padding-right:55px;
	padding-left:55px;
	margin-top:65px;
	}

.thumbnail.bg-style1 .caption, .thumbnail.bg-style2 .caption{
	padding: 22px;
}

/* .translucent-bg {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-position: 50% 0;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
} */

.font-style1{
    font-size: 32px;
    color: #fff;
	margin-top:105px;
	font-weight:bold;
}

.object-non-visible p.font-style2{
    font-size: 16px;
    color: #fff;
    line-height: 30px;
    letter-spacing: 1px;
    padding-top: 23px;
}

.counter{
    position: relative;
    display: inline-block;
    float: left;
    margin-top: 70px;
}
.end {margin-right: 0 !important;}

.count-title {
    font-size: 65px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}
.count-title1{color: #fff; position:relative; filter:alpha(opacity=100); font-family: 'Zurich Extra CondensedRegular'; }
.count-title2{color: #fff; position:relative;  filter:alpha(opacity=100); font-family: 'Zurich Extra CondensedRegular';}

.count-text {
	position:relative;
    font-size: 14px;
    color: #fff;
	filter:alpha(opacity=100);  
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.section .container .row .counter .thumbnail.bg-style1{
	color:#fff;
	filter:alpha(opacity=20);  
   	background:rgba(255,255,255,0.2);		
	box-shadow:0 0 5px 2px rgba(88,88,88,0.2);
	-webkit-box-shadow:0 0 5px 2px rgba(88,88,88,0.2);
	-ms-box-shadow:0 0 5px 2px rgba(88,88,88,0.2);
	-o-box-shadow:0 0 5px 2px rgba(88,88,88,0.2);
	border:none;
	border-radius:0; 
	padding:12.5px 0;
}
.section .container .row .counter .thumbnail.bg-style1:hover{
	background:#e03636;
	}

.year-style{
    position: absolute;
    bottom: 83px;
    right: 28%;
    font-size:18px;
    color:#fff;
    display:inline;
}

.add-style{
    position: absolute;
    display:inline;
    top: 30px;
    right: 13%;
    font-size:50px;
    color:#ff6e5d;
}
/*-----------我们的营销实力-------------end--------------*/


/*------------------授权代理服务中心----------start----------*/
.proxy-center{
    background: url("../images/pic07.jpg") no-repeat center center!important;
    background-size: 100% 100%;
	min-width: 1170px;
	height:586px;
}

.proxy-center .img-position{
    margin-top: 70px;
    margin-left: 25px;
}

.proxy-center .text-style-3{
    font-size: 38px;
    font-weight: bold;
    color: #333;
	margin-top:66px;
}

.proxy-center .text-style-4{
    font-size: 32px;
    color: #333;
}

.proxy-center .text-addr{
    font-size: 24px;
    color: #333;
    margin-top: -110px;
	margin-right: 8px;
    line-height: 40px;
}

.proxy-center .text-addr .text-addr-p{
    font-size: 20px;
}
/*------------------授权代理服务中心----------end----------*/


/*----------------华邦最新动态与活动----------start--------*/
.dynamic-activity{
    padding: 60px 0;
}

.text-style-5{
    font-size: 32px;
    color: #333;
}

.text-style-6{
    font-size: 16px;
    color: #333;
}

.text-style-7{
    font-size: 14px;
    color: #333;
    margin-top: 15px;
    line-height: 25px;
}

.tooltip-text{
    font-size: 18px;
    color: #333;
}



.dynamic-activity .container .row .col-xs-4 .div3{
	overflow:hidden;
    padding: 0;
    border-radius: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	min-height: 405px;
	margin-bottom:60px;
}

.dynamic-activity .col-xs-4  .div3-min{display:block; width:346px; overflow:hidden; position:relative; height:230px;}


.dynamic-activity .container-fixed .row .col-xs-4{
	padding-right: 30px;
}

.dynamic-activity .container-fixed .row .col-xs-4 .div3 img{
	transition:all 0.8s; 
	-o-transition:all 0.8s; 
	-moz-transition:all 1s; 
	-webkit-transition:all 0.8s;
	position:absolute;
	max-width:100%;
	
	
	 }

.dynamic-activity .container-fixed .row .col-xs-4 .div3 img:hover {
	transform:scale(1.2);
	-o-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-ms-transform:scale(1.0);
	-webkit-transform:scale(1.2);
}

.btn-private{
    display: inline-block;
    width: 150px;
    height: 40px;
    border: 2px solid #ff6e5d;
    border-radius: 20px;
    color: #ff6e5d;
    line-height: 40px;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    -webkit-transition: background .3s, color .3s;
    -moz-transition: background .3s, color .3s;
    -ms-transition: background .3s, color .3s;
    -o-transition: background .3s, color .3s;
    transition: background .3s, color .3s;
}

.btn-private:hover{
    background: #ff6e5d;
    color: #fff;
    text-decoration: none;
}
/*----------------华邦最新动态与活动----------end----------*/




/*....新闻详情页.....*/

/*新闻动态*/

.path-page{
    background: #f5f5f5; box-shadow:0 2px 4px 1px #e9e9e9 inset;
	min-width: 1170px;
}

.breadcrumb.path-page-crumb{
    margin-bottom: 0; background:none;
}
.breadcrumb.path-page-crumb a{color:#666666; text-decoration:none;}
.breadcrumb.path-page-crumb a:hover{color:#ff5642; text-decoration:underline; cursor:pointer;}
/*-----------路径分页--------*/
/*新闻详情页内容*/
.news-content{width:100%; background:#fff; padding-bottom:50px;}
.news-content .container{padding-left:0; padding-right:0;}
.news-content .container .news-content.right .nav-pills>li.active>a,
.news-content .container .news-content.right .nav-pills>li.active>a:focus,
.news-content .container .news-content.right .nav-pills>li.active>a:hover{
	background: #ff5642;
	color: #fff;
	list-style: none;
	text-decoration: none;
}


/*新闻详情页内容左边*/
.news-content.left{width:870px; float:left; }
.news-content.left .clear{clear:both;}
.news-content.left h2{margin:0; padding:0; color:#4c4c4c; font-size:32px;  padding:60px 0 30px 0; border-bottom:1px solid #e5e5e5;}
.news-content.left b{display:block; font-size:14px; color:#666666; padding-top:30px; padding-bottom:30px;}
.news-content.left b span{font-size:13px; color:#999999; }
.news-content.left.first p{line-height:30px;}
p.news-content-article{color:#555555; font-size:16px; line-height:28px; text-indent:32px; padding-bottom:40px;}
.news-content-pic{text-align:center; padding:30px 0 70px 0; } 
.news-content img{max-width:90%; height:auto;}
.news-content.left.second{display:none}
/*新闻详情页内容右边*/
.news-content.right{width:270px; float:right;}
.news-content.right .clear{clear:both;}
.news-content.right h3{margin:0;padding:0; font-size:18px; color:#333333; padding-top:84px; padding-bottom:21px; border-bottom:1px solid #e3e4e5;}
.news-content.title{padding:17px 0 70px 0;}
.news-content.title b{display:block; height:50px; line-height:50px; font-size:18px; text-indent:36px; color:#333333; font-weight:normal; cursor:pointer;  padding:0; }
.news-content.title b:hover{ background:#ff6e5d;}
.news-content.title b:hover a{color:#fff; text-decoration:none;}
.news-content.right h4{margin:0;padding:0; font-size:18px; color:#333333;padding-bottom:21px; border-bottom:1px solid #e3e4e5;}
.news-content.right ul{margin:0;padding:0; padding-top:10px;}
.news-content.right ul li{list-style:none;  text-overflow:ellipsis; padding:6px 0; font-size:14px; white-space:nowrap; 
overflow:hidden;}

.news-content.right ul li a{color:#666666; text-decoration:none;}
.news-content.right ul li:hover a{background:#ebebeb; text-decoration:none;}

/*----------------------------------------新闻列表页---------------------------------------------------*/
/*-------------------banner--------------start-------*/
/*-----**********************新闻列表页*************************--------*/
/*-------------------banner--------------start-------*/
.banner{
    height: 300px;
    background: url("../images/pic21.jpg") no-repeat center center!important;
    background-size: 100% 100%;
	min-width: 1170px;
}

.new-banner-text1{
    font-size: 34px;
    color: #fff;
    font-weight: bold;
    margin-top: 100px;
}

.new-banner-text2{
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
}
/*-------------------banner--------------end---------*/


/*------------------新闻列表------------start--------*/
#news-list{
    padding: 50px 0 80px 0;
}

.news-text-1{
    font-size: 12px;
    color: #333;
    line-height: 25px;
}

.news-text-2{
    font-size: 18px;
    color: #333;
    border-bottom: 1px solid #e3e4e5;
    padding-bottom: 20px;
}

.news-title-1{
	margin:0;
	margin-bottom:30px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}
.tab-pane.fade.active.in{margin-top:20px;}
 .row.us-margin-top{margin-top:60px;}

.news-title-1-cl{color:#333333;}

#news-list .container .tab-wrap .nav-ul>li>a{
	color: #666;
}

#news-list .container .tab-wrap .nav-ul>li.active>a,
#news-list .container .tab-wrap .nav-ul>li.active>a:focus {
    border: 0;
    color: #fff;
    background: #ff5642;
    position: relative;
}

#news-list .container .tab-wrap .nav-ul>li>a:hover,
#news-list .container .tab-wrap .nav-ul>li.active>a:hover{
	border: 0;
    background: #ebebeb;
    position: relative;
}

#news-list .container .tab-wrap .media .nav{
    min-width: 300px;
}

#news-list .container .tab-wrap .media .parrent.pull-left{
    padding-right: 0;
    margin-right: 20px;
}


#news-list .container-fixed .row .col-xs-9 .tab-content .tab-pane .media{
	padding-left: 15px;
}


#news-list .container-fixed .row .col-xs-9 .tab-content .tab-pane .media .media-body{
	padding-left:20px;
}


#news-list .container-fixed .row .col-xs-9 .tab-content .tab-pane .media .media-body .news-title-1 a:hover{
	color: #ff5642;
	list-style: none;
	text-decoration: none;
}

.pull-left.first{max-width:279px;}

.nav.nav-tabs{
    border-bottom-width: 0;
}

.nav.nav-tabs li a{
    border-radius: 0;
    margin-right: 0;
    font-size: 18px;
    padding-left: 35px;
}

.media-1{
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 20px;
}

.news-text-3{
    margin-top: 75px;
}

.btn.btn-pri{
    padding: 6px 0;
    text-align: left;
    font-size: 14px;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn.btn-pri:hover{color:#ff5642;}

.news-text-4{
    font-size: 12px;
    color: #999;
}

.clear{
    overflow: hidden;
}

.pull-left.p-line-height{
	width:280px;
}

.p-line-height{
    margin: 0;
    padding: 0;
    line-height: 40px;
}
/*------------------新闻列表------------end--------*/
/*-----**********************新闻列表页*************************--------*/

/*......关于我们......*/
/*---------关于我们--------*/
.development-banner{
    height: 300px;
    background: url("../images/pic24.jpg") no-repeat center center!important;
    background-size: 100% 100%;
	min-width: 1170px;
}

/*切换按钮*/
.aboutUS-btn-div{
    margin-top: 40px;
}

.aboutUS-btn-div .container #aboutUS-btn li a.aboutUS-btn-link{
    padding: 0;
    height: 65px;
    line-height: 65px;
    border-radius: 0;
    background: #f6f6f6;
    font-size: 18px;
    color: #333;
    border: 1px solid #ddd;
}

.aboutUS-btn-div .container #aboutUS-btn>li>a:hover,
.aboutUS-btn-div .container #aboutUS-btn>li.active>a,
.aboutUS-btn-div .container #aboutUS-btn>li.active>a:hover,
.aboutUS-btn-div .container #aboutUS-btn>li.active>a:focus {

    color: #fff;
    background: #ff5642;
}
/*切换按钮*/

/*第一屏----公司简介*/
.aboutUs-first{overflow:hidden; margin-top:30px;}
.aboutUs-firs-pic.left{float:left;}
.aboutUs-firs-write.right{float:right;}
.aboutUs-content-replace .aboutUs-firs-pic{max-width:40%; height:auto;}
.aboutUs-content-replace .aboutUs-firs-write{max-width:54%;}
.aboutUs-content-replace .aboutUs-firs-write p{line-height:24px;}

.us-text-1{
    font-size: 32px;
    color: #333;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-top: 96px;
}


.us-media-p{
    font-size: 16px;
    color: #333;
}
 
.us-media-p-1{
margin-top: 45px;
}

.caption.us-caption{
    text-align: center;
}

.us-caption-text-1{
    font-size: 24px;
    color: #333;
}

.us-caption-text-2{
    font-size: 16px;
    color: #333;
}



.us-thumbnail{
    cursor: pointer;
    -webkit-transition: border .3s;
    -moz-transition: border .3s;
    -ms-transition: border .3s;
    -o-transition: border .3s;
    transition: border .3s;
	
}
#com-profile .thumbnail.us-thumbnail{border:none;}


#com-profile .aboutUs-content-replace .row div.us-width-bg{
    padding-right: 0;
}

#com-profile .aboutUs-content-replace .row div .thumbnail.us-thumbnail-style{
    padding: 0;
    margin-bottom: 0;
    border-radius: 0;
    border: none;
}
/*第一屏end*/

/*第二屏----发展历程*/
.cd-container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}
.cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}

#cd-timeline {
    position: relative;
    margin-top: 60px;
    margin-bottom: 100px;
}
.cd-timeline-title{margin-left:57px; margin-top:50px;}
.cd-timeline-title h2{font-weight:bold; font-size:26px;}
#cd-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 2px;
    background: #ff5642;
}

.cd-timeline-block {
    position: relative;
    margin: 24px 0;
}
.cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}


.cd-timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin-left: 8px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #ff5642, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 0 0 10px rgba(255, 255, 255, 1);
}

.cd-timeline-img.cd-picture {
    background: #fff;
}
.cd-timeline-img.cd-movie {
    background: #0ae;
}
.cd-timeline-img.cd-location {
    background: #f0ca45;
}

.cd-timeline-content {
    position: relative;
    margin-left: 60px;
}

.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}
.cd-timeline-content h2 {
    color: #303e49;
}


.cd-timeline-content h2{
    font-size: 20px;
    font-weight: bold;
    color: #333;
    padding-bottom: 35px;
}

.cd-timeline-content .cd-timeline-p1{
    font-size: 18px;
    color: #333;
}

.cd-timeline-content .cd-timeline-p2{
	width: 85%;
    font-size: 14px;
    color: #666;
    padding-bottom: 60px;
	line-height: 25px;
}

/*第三屏----招贤呐士*/
/*第三屏*/


/*第四屏----联系我们*/
@media (max-width: 768px){
	#contact-us .contactUS #area-ul.nav>li{

	    display: table-cell;
}
}


.son-office-top{
    margin-top: 88px;
    margin-bottom: 130px;
}

/*城市区域选择*/
#area-ul li .area{
    border: 1px solid #ddd;
    padding-left: 0;
    padding-right: 0;
    margin-right: 40px;
    font-size: 14px;
    color: #666;
}

#area-ul li .area:hover,
#area-ul li.active>a,
#area-ul li.active>a:hover,
#area-ul li.active>a:focus {
    color: #fff;
    border: 1px solid #ff5642;
    background: #ff5642;
}
.head-office{
    font-size: 32px;
    color: #333;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 40px;
    padding-top: 80px;
}

.head-office-bg{
    background: url("../images/pic35.jpg") no-repeat center center!important;
    background-size: 100% 100%;
    /* padding: 25px 50px 25px 0; */
    color: #fff;
	height:350px;
}

/* @media (max-width: 768px) {
    .head-office-bg{
        padding: 0;
    }
} */


    .col-xs-5.head-office-div {
        padding: 30px 0 20px 35px;
        background: #ff5642;
        opacity: .8;
		margin-top: 16px;
		margin-right:30px;
    }

    .head-office-p2 {
        font-size: 14px;

    }

    .head-office-p1 {
        font-size: 24px;
        font-weight: bold;
        margin: 35px 0;
    }

    .head-office-p3 {
        font-size: 24px;
    }




/*@media (min-width: 768px) and ( max-width: 1200px){*/
    /*.head-office-div{*/
        /*padding: 20px;*/
        /*background: #0ae;*/
        /*opacity: .8;*/
    /*}*/

    /*.head-office-p2{*/
        /*font-size: 14px;*/
    /*}*/

    /*.head-office-p1{*/
        /*font-size: 18px;*/
        /*font-weight: bold;*/
        /*margin: 35px 0;*/
    /*}*/

    /*.head-office-p3{*/
        /*font-size: 18px;*/
    /*}*/
/*}*/

.head-office-dt{
    font-size: 18px;
    color: #333;
    margin: 55px 0 35px 0;
}

.head-office-dd{
    font-size: 14px;
    color: #666;
    line-height: 25px;
}

.margin-top-row{
	margin-top: 80px;
}

.head-opacity-hide{
	opacity: 0;
	cursor: default;
}

.son-office-btn div.btn-group .son-office-a{
    width: 80%;
    font-size: 14px;
    color: #666;
    line-height: 36px;
    height: 36px;
    padding: 0;
}


.son-office-btn div.btn-group .son-office-a:hover{
    background: #ff5642;
    color: #fff;
}

.son-office-title{
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    font-weight: normal;
}

.son-office-title-son{
    font-size: 24px;
    color: #333;
    font-weight: normal;
}

.son-office-p1{
    font-size: 18px;
    color: #333;
    line-height: 40px;
}

.son-office-p1 span{
    color: #ff5642;
}

.son-office-p2{
    font-size: 14px;
    color: #666;
    line-height: 25px;
}

.son-office-h{
    margin-bottom: 50px;
}
/*第四屏*/
/*---------关于我们--------*/
/*.......客户案例........*/
.curdtl{background:#fff; min-width:1170px;}
.curdtl .container{padding-left:0; padding-right:0; text-align:center;}
/*标题*/
.curdtl-title{padding-top:58px; padding-bottom:20px; border-bottom:1px solid #e5e5e5;}
.curdtl-title h3{margin:0; padding:0; font-size:32px; color:#4c4c4c; height:70px; line-height:70px;}
.curdtl-title span{color:#999999; display:block; height:40px; line-height:40px;}
.curdtl-title span b{color:#666666;}
/*客户名称*/
.curdtl-nav{margin-top:30px;}
.curdtl-nav table{margin-left:200px; width:70%; }
.curdtl-nav table.table.table-bordered tr td{vertical-align:middle;}
.curdtl-nav td:first-child{background:#f6f6f6; white-space:nowrap; vertical-align:middle;}
.curdtl-nav td:nth-child(3){background:#f6f6f6; white-space:nowrap; vertical-align:middle;}

.curdtl-cont{text-align:left; color:#555555; padding-bottom:170px; }
.curdtl-cont h4{margin:0; font-size:16px; line-height:30px; height:30px; margin-bottom:5px;} 
.curdtl-cont p{font-size:16px; line-height:30px; text-indent:32px; padding-bottom:50px;}
.curdtl-cont-pic{text-align:center;}
/*-----**********************客户案例页*************************--------*/
/*--------案例-------*/
.customer-case{
    padding-top: 20px;
    background: #f5f5f5;
	min-width: 1170px;
}
.customer-case .thumbnail.cus-case-div-1{border:0;}

.customer-case .container .row .div1 .cus-case-div-1{
    position: relative;
    padding: 0;
    border-radius: 0;
    cursor: pointer;

    -webkit-transition: transform .5s, box-shadow .1s;
    -moz-transition: transform .5s, box-shadow .1s;
    -ms-transition: transform .5s, box-shadow .1s;
    -o-transition: transform .5s, box-shadow .1s;
    transition: transform .5s, box-shadow .1s;
}
.customer-case .container .row .div1 .cus-case-div-1{margin-bottom:60px;}
.customer-case .container .row .div1 .cus-case-div-1 .caption p{margin:0;}
.customer-case .container .row .div1 .cus-case-div-1 .caption a{color:#333333;}
.customer-case .container .row .div1 .cus-case-div-1 .caption a:hover{color:#ff5642;}
.customer-case .container .row .div1 .cus-case-div-1:hover{
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);

    box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.1);
}


/* .cus-case-bg{
    position: absolute;
    top: 0;
    left: 0;
    background: #0d0d0d;
    opacity: 0;
    text-align: center;
    margin: 0 auto;
    color: #fff;

    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
} */

.news-p{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    line-height: 200px;
	color: #ffcc00;
	font-weight: bold;
}
.news-p a{color:#ffcc00; font-weight:bold;}
.news-p a:hover{color:#ffcc00; font-weight:bold;}


.thumbnail.cus-case-div-1:hover .cus-case-bg{
    opacity:.4;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    margin: 0 auto;
}
/*--------案例-------*/
/*-----**********************客户案例*************************--------*/

/*........百度推广.........*/
/*banner图*/
.prom-banner{
	height:300px;
	width:100%; 
	background:url(../images/pic52.jpg) no-repeat center center!important;
	background-size:cover; min-width: 1170px;
}
.prom-banner .prom-banner-cont-wrt{width:740px; margin:0 auto; color:#fff; text-align:center; margin-top:80px;}
.prom-banner .prom-banner-cont-wrt h3{font-size:33px; margin:0; margin-bottom:34px;}
.prom-banner .prom-banner-cont-wrt p{font-size:16px;}


@media (max-width: 768px){
	.nav-justified>li {
    display: table-cell;
    width: 1%;
	}
	
	.aboutUS-btn-div .container-fixed #aboutUS-btn.nav>li{
		display: table-cell;
	}
}


/*切屏*/
/*第一屏*/
.prom-first-top .prom-first-middle .clear{clear:both;}
.prom-first-top{width:900px; margin:0 auto; text-align:center; color:#333333; margin-top:110px;}
.prom-first-top h3{font-size:32px; margin:0; margin-bottom:30px;}
.prom-first-top p{font-size:14px; margin:0; height:30px; line-height:30px;}
.prom-first-pic{width:1000px; margin:0 auto; margin-top:130px;}
.prom-first-pic ul{font-size:0; width:100%;}
.prom-first-pic ul li{display:inline-block; width:20%; font-size:18px; text-align:center;}
.prom-first-pic ul li p{margin-top:20px;}
.prom-first-top img{margin-top:80px;}
.prom-first-middle{ width:1000px; margin:160px auto 0 auto; overflow:hidden;}
.prom-first-middle h4{font-size:32px; margin:0; margin-bottom:30px;}
.prom-first-middle p{font-size:14px; margin:0;height:30px; line-height:30px;}
.prom-first-middle .prom-first-middle-left{float:left;}
.prom-first-middle .prom-first-middle-right{float:right;}
.prom-first-bottom{margin-top:200px; margin-bottom:180px;}
.prom-first-bottom h4{font-size:32px; margin:0; margin-bottom:30px; }
.prom-first-bottom ul{font-size:0; margin:0; padding:0; margin-top:60px;}
.prom-first-bottom ul li{list-style:none; display:inline-block; border:2px solid #ededed; width:260px;; text-align:center; margin-right:20px;}
.prom-first-bottom ul li h5{font-size:22px; margin:60px 0 0 0; height:28px; line-height:28px;  color:#ff6e5d;}
.prom-first-bottom ul li p{font-size:14px; display:block; margin-top:20px;}
.prom-first-bottom ul li .prom-btn{outline:none; background:#fff; border:1px solid #ff6e5d; font-size:16px; width:180px; height:42px;
text-align:center; vertical-align:middle; line-height:42px; border-radius:2px; color:#ff6e5d; display:block; margin: 70px auto 20px auto; cursor: pointer;}
.prom-first-bottom ul li b{font-size:12px;  display:block; margin-bottom:40px; font-weight:normal;}
.prom-first-bottom ul li b a{color:#333;}
.prom-first-bottom ul li:hover{border:2px solid #ff6e5d;}
.prom-first-bottom ul li:hover  .prom-btn{background:#ff6e5d; color:#fff; text-decoration:none; list-style:none;}
.prom-first-bottom ul li:hover b a{color:#ff6e5d;}
/*第二屏*/
.prom-second-top{margin-top:80px; overflow:hidden;}
.prom-second-top.left{width:485px; height:250px; background:url(../images/pic73.png) no-repeat; float:left;}
.prom-second-top.right{float:right;}
.prom-second-top.right h4{margin:0; padding:0; font-size:32px; color:#333333; margin-bottom:40px; }
.prom-second-top.right p{margin:0;  line-height:30px; margin-bottom:10px;}
.prom-second-ad{width:100%; margin-top:120px; }
.prom-second-ad-h4{width:100%; text-align:center; margin:0; margin-bottom:90px; font-size:32px; color:#333333;  }
.prom-second-ad-h4 h4{font-size:32px; color:#333333;}
.prom-second-ad ul{margin:0; padding: 0; font-size:0;}
.prom-second-ad ul h5{margin:0; font-size:18px; margin-bottom:26px; margin-top:30px;}
.prom-second-ad ul li{display:inline-block; font-style: normal; text-align:center; font-size:14px; width:284px;}
.prom-second-ad ul p{line-height:26px; color:#666666;}
.prom-second-mth{text-align:center; margin-bottom:120px; margin-top:120px;}
.prom-second-mth h5{margin:0; font-size:32px; color:#333333; margin-bottom:40px;}
.prom-second-mth p{ color:#666666; line-height:26px; margin-bottom:80px;}
/*第三屏*/
.prom-third-ad{text-align:center;}
.prom-third-ad ul{margin:0; padding:0; font-size:0;}
.prom-third-ad ul li{display:inline-block; }
.prom-third-ad-h4 h4{width:100%; text-align:center; margin:0; margin-bottom:30px; font-size:32px; color:#333333; }
.prom-third-ad-h4 p{margin:0; font-size:14px; color:#666666; margin-bottom:100px;}
.prom-third-ad ul{margin-bottom:160px;}
.prom-third-ad ul li{vertical-align:top; width:270px; margin-right:14px;}
.prom-third-ad ul li h5{font-size:18px; color:#333333; margin-top:40px;}
.prom-third-ad ul li p{font-size:14px; color:#666666; }


/*体验中心*/
.exper{
	width:100%;
	height: 454px;
	min-width: 1170px;
	color: #fff;
	background: url("../images/pic127.png") no-repeat center center!important;
}

.exper .exper-p1{
	padding-top: 125px;
	font-size: 32px;
}

.exper .exper-p2{
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 18px;
}

.exper .exper-btn{
	display: block;
	width: 170px;
	height: 45px;
	line-height: 41px;
	margin: 0 auto;
	border: 2px solid #fff;
	border-radius: 20px;
	color: #fff;
	font-size: 16px;
	list-style: none;
	text-decoration: none;
	transition: all .3s;
	-webkit-transition: all .3s;
	-O-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
}

.exper .exper-btn:hover{
	border: 2px solid #ff5642;
	background: #ff5642;
}
/*...........百度糯米............*/
.nuomi-banner{
    height: 300px;
    background: url("../images/pic45.jpg") no-repeat center center!important;
    background-size: 100% 100%;
	min-width: 1170px;
}

.baidu-nuomi{
    margin-top: 80px;
}

.noumi-dt-1{
    font-size: 32px;
    font-weight: normal;
    color: #333;
	margin-bottom:15px;
}

.noumi-dd-1{

    font-size: 18px;
    color: #333;
}

.noumi-dd-height-1{
    margin-bottom: 93px;
	height:34px;
	line-height:34px;
}

.noumi-dt-p-1{
    font-size: 24px;
    color: #333;
}

.noumi-dt-p-2{
    font-size: 16px;
    color: #333;
}

.noumi-dd-height-2{
    margin-bottom: 56px;
}

.baidu-nuomi .container .media .media-body .nuomi-btn-1{
    padding: 10px 35px;
    color: #ff6e5d;
    border:1px solid #ff6e5d;
    font-size: 16px;
    margin-left: 42px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.baidu-nuomi .container .media .media-body .nuomi-btn-1:hover{
    background: #ff6e5d;
    color: #fff;
}

.baidu-muomi-4 .container .text-center .row .bg-img-padding{
    padding-right: 0;
    padding-left: 0;
}

.nuomi-img-1{
    background: url("../images/pic49.png") no-repeat center center!important;
    background-size: 102% 100%;
    width: 100%;
    height: 356px;
    margin-left: 27px;
}

.nuomi-img-2{
    background: url("../images/pic50.png") no-repeat center center!important;
    background-size: 100% 100%;
    width: 100%;
    height: 356px;
}

.nuomi-img-3{
    background: url("../images/pic51.png") no-repeat center center!important;
    background-size: 100% 100%;
    width: 100%;
    height: 356px;
}

.baidu-muomi-3{
    padding: 80px 0 90px 0;
}

.baidu-muomi-4{
    background: #fafafa;
    padding: 110px 0;
	min-width: 1170px;
}

.nuomi-p-1{
    color: #333;
    font-size: 32px;
}

.nuomi-p-2{
    color: #333;
    font-size: 18px;
    margin-bottom: 70px;
	padding-top:10px;
}

.nuomi-p-3{
    color: #fff;
    font-size: 28px;
}

.nuomi-join{
    padding: 45px 0;
    background: #ff5642;
	min-width: 1170px;
}

.nuomi-join .container .row div .nuomi-btn-2{
    padding: 6px 30px;
    border-radius: 20px;
    border: 2px solid #fff;
    background: none;
    color: #fff;
    font-size: 16px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
	margin-left:20px;
}

.nuomi-join .container .row div .nuomi-btn-2:focus{
	outline:none;
}

@media (max-width: 768px){
    .nuomi-join .container .row div{
        text-align: left;
    }
}

.nuomi-join .container .row div .nuomi-btn-2:hover{
    background: #fff;
    color: #ff6352;
}

/*-------营销网站---------*/
.marketing-banner{
    height: 300px;
    background: url("../images/pic68.jpg") no-repeat center center!important;
    background-size: 100% 100%;
	min-width: 1170px;
}

.marketing-div-1{
    padding: 80px 0 100px 0;
}

.marketing-p-1{
    color: #333;
    font-size: 32px;
    margin-bottom: 20px;
}

.marketing-p-2{
    color: #666;
    font-size: 14px;
    margin-bottom: 107px;
}

.marketing-p-5{
    font-size: 28px;
    color: #333333;
}

.marketing-dd-1{
    font-size: 18px;
    color: #333;
    margin-bottom: 18px;
    margin-top: 35px;
}

.marketing-dd-2{
    font-size: 14px;
    color: #666;
	padding: 0 74px;
	line-height: 25px;
}

.marketing-div-2{
    background: #ff6553;
    padding: 97px 0 350px 0;
	min-width: 1170px;
}

/* @media (max-width: 768px) {
    .marketing-div-2{
        padding: 50px 0;
    }

    .marketing-thum-style{
        margin-top: 40px;
    }

    .marketing-p-2{
        margin-bottom: 30px;
    }
} */

.thumbnail.marketing-thum-style{
    border: none;
    background: none;
}


.marketing-p-1.market-p-color, .marketing-p-2.market-p-color{
    color: #fff;
}

.marketing-div-3{
    /*padding: 100px 0 65px 0;*/
}
.marketing-div-3 .container .row .mark-div-padding{
    padding: 0 75px;
}
/* 
@media (max-width: 992px) {
    .market-div-3 .container .row .mark-div-padding{
        padding:0;
    }
} */
.marketing-div-3 .container .row dl dd img,.marketing-div-3 .container .row dl dd p{
    display: inline-block;
}

.marketing-dd-3{
    color: #333;
    font-size: 20px;
    margin-top: 110px;
    margin-bottom: 18px;
}

.marketing-dd-4{
    color: #333;
    font-size: 14px;
	line-height:25px;
	padding: 0 110px 0 0;
}

/* @media (max-width: 992px){
    .marketing-dd-3{
        margin-top: 55px;
    }
} */

.marketing-dd-margin-2{
    margin-bottom: 80px;
    line-height: 30px;
}


.marketing-div-4{
    background: #f5f5f5;
    padding: 60px 0 60px 0;
}

.marketing-p-2.market-p{
    margin-bottom: 80px;
}

.thumbnail.marketing-thum-bg{
    padding: 0;
    border-radius: 0;
    cursor: pointer;
	border:none;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
}


.thumbnail.marketing-thum-bg:hover{
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);

    box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.1);
}


.merketing-join{
    padding: 45px 0;
    background: #ff5642;
	min-width: 1170px;
}

.marketing-p-5{
    color: #fff;
    font-size: 28px;
}

.merketing-join .container .row div .marketing-btn-2{
    padding: 6px 30px;
    border-radius: 20px;
    border: 2px solid #fff;
    background: none;
    color: #fff;
    font-size: 16px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.merketing-join .container .row div .marketing-btn-2:focus{
	outline: none;
}


/* @media (max-width: 768px){
    .merketing-join .container .row div{
        text-align: left;
    }
} */

.merketing-join .container .row div .marketing-btn-2:hover{
    background: #fff;
    color: #ff6352;
}
/*-------营销网站 end---------*/
/*---------------------分公司-----------start----------*/
/*.container.container-fixed{width: 1170px;}*//*关闭响应式*/
.container.container-fixed.padding{padding-bottom:50px;}

.subsidiaries-bg{
	position: relative;
	height: 100vh;
      background: url("../images/pic097.jpg") no-repeat 50% 0;
      background-size: 100% 100%;
   
   
}

.sub-com-message{
    margin-top: 50px;
    position: relative;
}

.sub-com-name{
    top: 17px;
    position: absolute;
    bottom: 0;
}

.sub-com-name, .sub-com-phone{
    list-style: none;
    color: #fff;
}

.sub-com-name li{
    float: left;
    height: 40px;
    margin-left: 15px;

}

.sub-com-name li p{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    line-height: 40px;
}

.p-line{
	font-size: 23px;
}

.com-name-1{
    font-size: 20px;
}

.com-name-2{
    font-size: 16px;
}

.com-phone-1{
    font-size: 12px;
}

.com-phone-2{
    font-size: 30px;
    font-weight: bold;
}

@media  (max-height:700px){

.sub-content-p1{
    font-size: 25px;
    color: #fff;
}
}

@media (min-height:701px){

    .sub-content-p1{
        font-size: 32px;
        color: #fff;
    }
}
@media  (max-height:700px) {
    .sub-content-p2 {
        margin: 16px 0;
        font-size: 38px;
        color: #fff;
    }
}

@media  (min-height:701px) {
    .sub-content-p2 {
        margin: 20px 0;
        font-size: 56px;
        color: #fff;
    }
}

@media  (max-height:700px) {
    .sub-content-p3 {
        font-size:14px;
        color: #fff;
    }
}

@media (min-height:701px) {
    .sub-content-p3 {
        font-size:16px;
        color: #fff;
    }
}
@media  (max-height:700px) {
    .sub-content {
        margin-top: 6%;

    }
}

@media  (min-height:701px) {
    .sub-content {
        margin-top: 10%;

    }
}
@media (max-height: 700px) {
  .sub-content-p4{
      position: absolute;
      bottom:8%;
      left:49%;
      border:2px solid #fff;
      height:56px;
      width:34px;
      -webkit-border-radius:17px;
      -moz-border-radius:17px;
      border-radius:17px;
      cursor: pointer;
  }
}


@media (max-height: 700px){
    .sub-content-p4 .center{
        position: absolute;
        top:0%;
        left:40%;
        height:8px;
        width: 8px;
        background-color: #f7f7f7;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;
        animation: ball 2.5s ease-in infinite;
        -moz-animation: ball 2.5s ease-in infinite;
        -webkit-animation:ball 2.5s ease-in infinite;
        -o-animation:ball 2.5s ease-in infinite;
        -ms-animation:ball 2.5s ease-in infinite;
    }
}

@media (min-height: 701px){
   .sub-content-p4{
      position: absolute;
      bottom:10%;
      left:49%;
      border:2px solid #fff;
      height:60px;
      width:36px;
      -webkit-border-radius:17px;
      -moz-border-radius:17px;
      border-radius:17px;
      cursor: pointer;
  }
  
  .sub-content-p4 .center{
        position: absolute;
        top:0%;
        left:40%;
        height:8px;
        width: 8px;
        background-color: #f7f7f7;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;
        animation: ball 2.5s ease-in infinite;
        -moz-animation: ball 2.5s ease-in infinite;
        -webkit-animation:ball 2.5s ease-in infinite;
        -o-animation:ball 2.5s ease-in infinite;
        -ms-animation:ball 2.5s ease-in infinite;
    }
}

@keyframes ball{
    0%{top:0;opacity: 0}
    42%{top:0;opacity: 0}
    43%{top:0;opacity: 1}
    70%{top:50%; opacity: 1}
    100%{top:50%; opacity: 0}
}

@-moz-keyframes ball{
    0%{top:0;opacity: 0}
    42%{top:0;opacity: 0}
    43%{top:0;opacity: 1}
    70%{top:50%; opacity: 1}
    100%{top:50%; opacity: 0}
}

@-webkit-keyframes ball{
    0%{top:0;opacity: 0}
    42%{top:0;opacity: 0}
    43%{top:0;opacity: 1}
    70%{top:50%; opacity: 1}
    100%{top:50%; opacity: 0}
}

@-o-keyframes ball{
    0%{top:0;opacity: 0}
    42%{top:0;opacity: 0}
    43%{top:0;opacity: 1}
    70%{top:50%; opacity: 1}
    100%{top:50%; opacity: 0}
}

@-ms-keyframes ball{
    0%{top:0;opacity: 0}
    42%{top:0;opacity: 0}
    43%{top:0;opacity: 1}
    70%{top:50%; opacity: 1}
    100%{top:50%; opacity: 0}
}

@media (max-height: 700px){
    
    .sub-content-btn-div{
    margin-top: 60px;
    }
}

@media (min-height: 701px){

    .sub-content-btn-div{
        margin-top: 85px;
    }
}
.btn-default.sub-content-btn{
    padding: 11px 61px;
    border-radius: 25px;
    border: 2px solid #fff;
    background: none;
    color: #fff;
    font-size: 16px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.btn-default.sub-content-btn:active{
	background: none;
	outline: none;
}

.btn-default.sub-content-btn:focus{
	background: none;
	outline: none;
	color: #fff;
	border: 2px solid #fff;
}


.btn-default.sub-content-btn:hover{
    background: #ff6352;
	border:2px solid #ff6352;
    color: #fff;
}

/*------*/
.sub-count-title{
    font-size: 67px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}



.sub-count-title1{
    color: #ff5642;
}

.sub-count-title2{
    color: #333;
}

.sub-count-text{
    color: #333;
    font-size: 20px;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
}

/* @media (max-width: 768px) {
    .sub-count-title{
        font-size: 25px;
    }

    .sub-count-text{
        font-size: 15px;
    }
} */

.thumbnail.sub-thum-border{
    border: none;
    padding: 0;
    margin-bottom: 60px;
}

.sub-conter{
    margin-top: 54px;
}


.sub-div-1{
    background: #fafafa;
    height: 666px;
	min-width:1170px;
}

.sub-p-style1{
    font-size: 28px;
    color: #333;
    margin-top: 64px;
    line-height: 60px;
}

.sub-p-style2{
    font-size: 14px;
    color: #666;
    margin-top: 20px;
}


.sub-div-2{
    margin-bottom: 70px;
}

.sub-p-style2.sub-p{
    width: 63%;
    margin: 0 auto;
    line-height: 25px;
}

.sub-son-office{
    margin-top: 67px;
}

/*轮播*/
.sub-banner{
    margin-top: -445px;
	min-width: 1170px;
}


.carousel-inner.sub-carousel-inner{
    width: 80%;
    margin: 0 auto;
}

.carousel-control.sub-carousel-control{
    top: 59%;
	font-family:"宋体";
	margin-bottom: 143px;
	font-size: 50px; 
	border-radius:4px;
	width:4%;
	background: rgba(0,0,0,.2);
}

.carousel-control.sub-carousel-control:hover{
	opacity:1;
	color:#fff;
}

#sub-banner .container-fixed .carousel-control.left{
	left: 80px;
}

#sub-banner .container-fixed .carousel-control.right{
	right:80px;
}
/*轮播*/
/*---------------------分公司-----------end------------*/

/*百度金融*/

.finance-banner{
	height: 300px;
    background:url(../images/133.jpg) no-repeat center center!important ;
    background-size: 100% 100%;
	min-width: 1170px;
	}
.baidu-finance{
	width:100%;
	background:#fff;
	}
.finance-content{
	width:1170px;
	margin:0 auto;
	}
.finance-content-left{
	float:left;
	width:50%;
	}
.finance-content-left img{
	width:100%;
	}
.finance-content-right{
	float:right;
	width:50%;
	}
	
.finance-dl{
	position: relative;
}
.finance-content-min{
	padding:50px 50px 50px 60px;
	}
.finance-caption-left{
	background:url(../images/hong.png) no-repeat;
	float:left;	
	position: relative;
    width: 200px;
    height: 200px;

/*	background:#ff6f5e;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#ff6f5e', Direction=0, Strength=8);
	box-shadow:0 0 10px 1px rgba(255,111,94,0.5);
	-moz-box-shadow:0 0 10px 1px rgba(255,111,94,0.5);
	-webkit-box-shadow:0 0 10px 1px rgba(255,111,94,0.5);*/
	}
.finance-caption-left h2{
	font-size:24px;
	color:#ffffff;
	border-bottom:2px solid #fff;
	margin:0 ;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
	}
.finance-caption-right{
	float:left;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -37px;
    margin-top: -62.5px;
	}
.finance-caption-right h3{
	margin:0;
	font-size:55px;
	color:#222222;
	letter-spacing:5px;
	margin-bottom:30px;
	}
.finance-caption-right ul li{
	display:inline-block;
	font-size:18px;
	color:#555555;
	border-right:1px solid #555555;
	letter-spacing:1px;
	padding-right:4px;
	}
.finance-caption-right .border-none{
	border-right:none;
	}
.finance-content-min p{
	letter-spacing:1px;
	color:#555555;
	font-size:14px;
	line-height:30px;
	margin-left:40px;
	}
	
.finance-footer{
	width:100%;
	background:#fafafa;
	}
.finance-footer-content{
	width:1170px;
	margin:0 auto;
	padding-top:70px;
	}
.finance-content-left h4{
	margin:0;
	font-size:55px;
	color:#222222;
	letter-spacing:2px;
	padding-bottom:60px;
	}
.finance-content-left p.explain{
	letter-spacing:1px;
	line-height:30px;
	margin-left:0;
	}
.finance-content-left b{
	display:block;
	font-size:16px;
	margin-top:60px;
	margin-bottom:10px;
	color:#555;
	}
.finance-content-left strong{
	display:block;
	font-size:45px;
	color:#ff6f5e;
	letter-spacing:2px;
	}
.finance-content-right.top{
	padding-top:100px;
	}
.finance-content-right .pic-right{
	margin-left:30px;
	width:60%;
	}
.finance-content-min dt{
	font-weight:normal;
	}
.finance-content-min dl{
	margin-bottom:4px;
	}
.finance-footer-content dt{
	font-weight:normal;
	}
dt.finance-content-right{
	font-weight:normal;
	}
.finance-content-right img{
	width:100%;
	}
dt.finance-content-left{
	font-weight:normal;
	}
.finance-footer dl.margin-top{
	margin:0;
	}
img.full{
	width:100%;
	height:100%;
}


/*全网模板页面*/
.template-case{
	min-width: 1170px;
	padding-top: 20px;
	background: #f5f5f5;
}
.template-case .container{
	min-width: 1170px;
}
.template-case .div2{
	margin-bottom: 60px;
}
.template-link{
	display: block;
	width: 450px;
	height: 350px;
}
.template-link>img{
	display: block;
	width: 100%;
	height: 100%;
}
.template-link.single{
	float: left;
}
.template-link.double{
	float: right;
}