@charset "utf-8";
body{font-family:"Microsoft YaHei", SimHei, sans-serif;font-size:14px !important;}
.width-auto{width:auto !important;}
.white-bg, .bg-color{background-color:#fff;}
.border-right{border-right:1px solid #eee;}
.border{border:1px solid #eee;}
.line{height:1px;border-bottom:1px solid #e6e6e6;clear:both;}
.breadcrumb{font-size:12px;}
.loading{width:32px;height:32px;margin:0 auto;background:url("/static/images/loading.gif") no-repeat;}
.blank{clear:both;height:18px;}
h4, h5, h6, p{padding:0; margin:0;}
h1{font-size:50px;}
em{font-style:normal;}
a:active, a:hover, a:focus{text-decoration:none;-moz-outline:none;outline:none;ie-dummy:expression(this.hideFocus=true);}

.box{background-color:#f6f6f6; border-radius:5px; border:1px solid #eee; padding:15px;}
.no-padding-left{padding-left:0;}
.no-padding-right{padding-right:0;}
.no-padding{padding:0;}

body{background-color:#f2f2f2;}

a{color:#B07050;}
a:hover, a:focus{color:#9E3A31;}

.nopadding{padding:0;}
.nopaddingleft{padding-left:0;}
.ml15{margin-left:15px;}

.navbar {
    margin-bottom: 0;
}
.navbar-nav {
    border-left: 1px solid #e0e1e0;
}

#header{ width:100%; height:40px; margin:auto; background:#eff0ef; border-bottom:1px solid #e0e1e0;}
.navbar-brand{padding-top:7px;padding-bottom:0;height:auto !important;}
.navbar-nav > li > a{padding-top:10px;padding-bottom:10px;}
.navbar-nav{border-left:1px solid #e0e1e0;}
.navbar-nav > li{border-right:1px solid #e0e1e0;}


.tab-box{border:1px solid #c7dfd7;border-bottom-width:3px;}
.tabs-zx{background-color:#EEE8DC;border-bottom:none;padding-left:0}
.tabs-zx > li > a{border:none;color:#333;}
.tabs-zx > li.on a{background-color:#FFF;border-radius:0;color:#555;}
.tabs-zx > li > a:hover{border:none;border-radius:0;background-color:#FFF;}
.tabs-zx > li.active > a, .tabs-zx > li.active > a:hover, .tabs-zx > li.active > a:focus{border:none;border-radius:0;}
.tabs-zx .more{padding-right:10px;}

.mainfooter{background-color:#5f6675;margin-top:20px;padding:25px 15px;color:#FFF;}
.mainfooter a{color:#FFF;}
.mainfooter a:hover{color:#FF0; text-decoration:underline;}
.mainfooter p{line-height:24px;}
.mainfooter p a{margin-right:5px;}
.mainfooter .attention{background-color:#FFF;padding:10px 0px 0px 0px;}


.zx-footer{background:#323232;margin-top:0;color:#b3b5ba;font-size:13px;}
.zx-footer a{color:#b3b5ba;}


.tab-box{border:1px solid #E0D5BF;border-bottom-width:3px;}

.tab-list ul{padding:0 10px;list-style:none;margin-bottom:0;}
.tab-list ul li{line-height:28px;}
.tab-list ul li span{color:#aaa;font-size:12px;float:right;}

.article-tab-list li{clear:both;overflow:hidden;}
.article-tab-list li a{width:70%;float:left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.article-tab-list li span{width:25%;float:right;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align:right;}

.online-list{margin:10px;overflow:hidden;position:relative;}
.online-list ul{margin:0;list-style:none;padding:0;position:relative;height:564px;overflow:hidden;}
.online-list ul li{border-bottom:1px dotted #e5e5e5;clear:both;padding-bottom:15px;margin-bottom:18px;overflow:hidden;line-height:22px;}
.online-list ul li p{color:#aaa;font-size:12px;}

.person-list{padding-left:0;padding-right:0;padding-top:18px;}
.person-list .tab-pane{overflow:hidden;}
.person-list ul{padding:0;list-style:none;}
.person-list li{float:left;margin-left:15px;margin-bottom:10px;width:128px;}
.person-list li p{text-align:center;}
.person-list li span{color:#aaa;font-size:12px;text-align:center;display:block;}
.person-list li img{width:128px;height:145px;}

.mail-list ul{list-style:none;padding:0 10px;margin:0;height:800px;overflow:hidden;}
.mail-list ul li{margin-bottom:15px;}
.user-avatar{float:left;}
.user-avatar img{width:40px;border-radius:4px;}
.z-popover{position:relative;display:block;box-shadow:none;}
.z-popover .popover-content{padding:8px;}
.z-popover.right{margin-left:55px;}
.z-popover.right > .arrow{top:20px;}
.z-popover p{line-height:24px;min-height:40px;}

.albums{padding-left:0;padding-right:0;padding-top:18px;}
.albums .tab-pane{overflow:hidden;}
.albums ul{padding:0;list-style:none;}
.albums ul li{max-width:150px;float:left;border:1px solid #E0D5BF;border-left-width:5px;padding:12px;margin-left:15px;margin-bottom:15px;-webkit-box-shadow:1px 1px 5px rgba(0,0,0,0.1);box-shadow:1px 1px 5px rgba(0,0,0,0.1);border-radius:0 2px 2px 0;}
.albums ul li img{width:100%;opacity:.8;transition:all 0.15s ease-out 0s;}
.albums ul li img:hover{opacity:1;}

