#container { box-shadow: 0 2px 6px rgba(0,0,0,.5);  width:956px; height:auto; margin:0 auto; position:relative; background:#ebebca url(../../images/product/big_corner_top.png) no-repeat left top;  }
/***main-content**/
#main-content { width:796px; float:right; }
#content { width:785px; padding-top:14px; float:left; display:inline; background:#FEF7DE; border:  1px solid #DAD6C9; border-radius: 12px; overflow: hidden;}
#content-hook { /*width:547px;*/ position:relative; padding:0 16px 80px; }
#content .blog-cornerb { height:13px; font-size:o; line-height:0; overflow:hidden; }
#publish-box { height:160px; position:relative; z-index:2; padding:8px 18px 16px 16px; margin-bottom:14px; border:1px solid #e9e9d9; background:#F8EFD5; color:#868686; -moz-border-radius:6px;-webkit-border-radius:6px; }
#publish-hd { height:16px; padding-top:20px; margin-bottom:8px; position:relative; }
.word-num { position:absolute; right:0; top:0; }
.word-num b { font-size:30px; font-weight:normal; font-family:Georgia; }
#input-box { width:508px; height:68px; overflow:auto; border:1px solid #c4c4c4; display:block; }
#publish-body { position:relative; zoom:1; }
#success-notice { display:none; position:absolute; left:50%; top:50%; margin:-16px 0 0 -65px; height:28px; padding:4px 0 0 45px; font:20px microsoft YaHei; color:#46B529; background:url(../../images/blog/center/pub_success.png) no-repeat left center; }

#publish-box input.publish { width:71px; height:33px; border:0 none; cursor:pointer; position:absolute; top:80px; right:0; background:url(../images/comm/publish_btn.png) no-repeat; } 
#post-option { position:absolute; left:8px; top:76px; }
#post-option ul li { float:left; display:inline; padding-right:6px; min-width:52px; _width:52px; }
#post-option .upload-pic { height:16px; padding-left:24px; background:url(../images/icons/pic_flag.png) no-repeat left center; }
#post-option .upload-video { height:16px; padding-left:24px; background:url(../images/icons/video_flag.png) no-repeat left center; }
#post-option .upload-link { height:16px; padding-left:24px; background:url(../images/icons/link_flag.png) no-repeat left center; }
.upload-wrap { width:381px; height:auto; display:none; position:absolute; left:0; top:26px; z-index:20; background:url(../images/comm/inner_cornerbg.png) repeat-y;  }
.upload-top { height:8px; font-size:0; line-height:0; overflow:hidden; background:url(../images/comm/inner_cornert.png) no-repeat; }
.upload-btm { height:13px; font-size:0; line-height:0; overflow:hidden; background:url(../images/comm/inner_cornerb.png) no-repeat; }
.upload-close { width:10px; height:9px; cursor:pointer; z-index:10; position:absolute; right:15px; top:12px; background:url(../images/icons/close_btn.png) no-repeat; }
.notice-close { cursor:pointer; z-index:10; position:absolute; right:15px; top:12px; }

.upload-direct { width:11px; height:10px; position:absolute; left:80px; top:-9px; z-index:10; background:url(../images/comm/direction_icon.png) no-repeat; }
.left108 { left:138px !important;}
.left170 { left:195px !important;}
.upload-wrap h6 { padding:4px 0 0 11px; margin-bottom:10px; font-size:12px; }
.pic-sorts { padding-left:50px; }
.pic-sorts p { float:left; display:inline; border-right:1px solid #dfded7; text-align:center;}
.local-btn { width:94px; overflow:hidden; padding-right:45px; position:relative; }
.zone-btn { padding-left:32px; }
.pic-sorts p span { display:block; padding:6px 0 10px;  }
.local-btn input,.zone-btn input { width:87px; height:36px; border:0 none; }
.local-btn input { cursor:pointer; background:url(../images/comm/upload_pic_btn.png) no-repeat; }
.local-btn .upload-file { width:87px; height:36px; position:absolute; right:45px; top:0; cursor:pointer; font-size:20px; overflow:hidden; border:0 none; opacity:0; filter:alpha(opacity=0); }
.zone-btn input { background:url(../images/comm/from_album_btn.png) no-repeat; }
.video-in { padding:0 0 8px 11px; }
.video-in p { font-size:12px; line-height:1.4; padding-top:6px; }
.video-in .txt { height:24px; line-height:24px; width:264px; border:1px solid #c4c4c4; }
.video-in .submit { width:58px; height:26px; border:0 none; background:url(../images/comm/ok_btn.png) no-repeat; }

#already-notice-box { text-align:center; }
#in-loading { text-align:center; margin:6px 0; }
#in-loading img { height:82px;}

/****/
#album-choosebox { width:520px; height:auto; padding-top:10px; background:#fff; }
#pic-choosebox { margin-bottom:10px; padding-left:14px; color:#666b70; }
#pic-choosebox select { width:148px; height:20px; padding:2px; border:1px solid #c8c8ba; }
#choose-piclist { height:356px; }
#choose-piclist ul li { width:108px; height:98px; padding:3px; cursor:pointer; overflow:hidden; border:1px solid #dddcc0; float:left; display:inline; margin:0 0 18px 12px; }
#choose-piclist ul li.curr { background:#46B529; }
/**content-aside**/
#content-aside { width:206px; float:right; }
#content-aside h4 { margin-bottom:12px; }
.home-blog-rule { overflow:hidden; }
.home-blog-rule h2 { font:18px "微软雅黑", "宋体"; color:#0E8136; margin-bottom:8px; }
.home-blog-rule ul li { padding-bottom:8px; color:#785149; }
.info-notice { padding:18px 0 18px 23px; border:1px solid #d9d9c7; background:#f9f9ef; margin-bottom:10px; }
.info-notice a { display:block; padding-left:20px; margin-bottom:6px; color:#868686; }
a.friend-quest { background:url(../images/icons/friend_request.png) no-repeat left center; }
a.notice-account { background:url(../images/icons/msg_notice.png) no-repeat left center; }
.info-event { padding:15px 8px 18px 12px; border:1px solid #d9d9c7; background:#f9f9ef; margin-bottom:10px; }
.info-event a { color:#616161; }
.event-content { line-height:1.4; margin-bottom:13px; }
.event-content h6 { color:#785149; }
.event-content a.left { margin-right:8px; }
.event-content a.left img { display:block; padding:1px; border:1px solid #a09f8c;}
.service-newest { padding:16px 12px 10px; border:1px solid #d9d9c7; background:#fcf6e6; margin-bottom:10px; }
.service-newest h4 { height:28px; margin-bottom:6px; text-indent:-9999px; background:url(../images/comm/newest_service_tt.png) no-repeat; }
.service-newest ol li { padding:0 3px 9px; margin-bottom:9px; border-bottom:1px dashed #e2e1e1; }
.service-newest ol li img.left { border:2px solid #e6e5cc; margin-right:9px; }
.service-newest ol li p a { line-height:1.3; color:#3e3e3e; }

.profile-blog-rule { overflow:hidden; font:12px "微软雅黑", "宋体"; }
.profile-blog-rule h2 { font:18px "微软雅黑", "宋体"; color:#b17501; margin-bottom:8px; }
.profile-blog-rule ul li { padding-bottom:8px; color:#785149; }
.profile-info-notice { padding:15px 0 15px 15px; border:1px solid #d9d9c7; background:#FCF6E6; margin-bottom:10px; }
.profile-info-notice a { display:block; padding-left:20px; margin-bottom:6px; color:#868686; }

/*最近来访*/
.profile-newest-track { position:relative; padding:16px 12px 10px; border:1px solid #d9d9c7; background:#fcf6e6; margin-bottom:10px; }
.profile-newest-track h4 { height:28px; margin-bottom:6px; text-indent:-9999px; background:url(../images/comm/visitor_log_tt.png) no-repeat; }
.profile-newest-track ol li { width:45px; overflow:hidden; float:left; display:inline; padding:0 3px 9px; margin:0 15px 6px 0; text-align:center; }
.profile-newest-track ol li img.left { border:2px solid #e6e5cc; margin-right:9px; }
.profile-newest-track ol li p a { line-height:1.3; color:#3e3e3e; display:block; }

/*较债的右边栏模块*/
.profile-newest-friend { padding:16px 12px 10px; border:1px solid #d9d9c7; background:#fcf6e6; margin-bottom:10px; }
.profile-newest-friend h4 { margin-bottom:6px; margin-left:0 !important; }

