
.huixin_box_1 {
    background: rgba(0, 0, 0, 0) url('/resource/images/memorials/huixin/huixin-bg01.gif') no-repeat scroll 0 0;
    height: 458px;
    margin: auto;
    position: relative;
    width: 436px;
}
.huixin_box_1 .huixin-photo {
    height: 100px;
    margin: auto;
    padding-top: 86px;
    width: 200px;
}
.huixin_box_1 .huixin-photo ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.huixin_box_1 .huixin-photo li {
    float: left;
    height: 86px;
    margin-left: 20px !important;
    width: 75px;
}
.huixin_box_1 .huixin-photo li img {
    border: 4px solid #e3d4bd;
    height: 86px;
    width: 75px;
}
.huixin_box_1 .huixin-content {
    display: table;
    height: auto;
    margin: auto;
    padding: 8px 20px 5px 50px;
    width: 300px;
}
.huixin_box_1 .huixin-content p {
    color: #433116;
    float: left;
    font-size: 14px;
    line-height: 23px;
    text-indent: 15px;
    width: 300px;
}
.huixin_box_1 .huixin-name {
    height: 15px;
    margin: auto;
    padding-right: 20px;
    padding-top: 8px;
    width: 300px;
}
.huixin_box_1 .huixin-name p {
    color: #433116;
    float: left;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    width: 300px;
}
.huixin_box_1 .huixin-close {
    height: 16px;
    position: absolute;
    right: 9px !important;
    top: 8px;
    width: 17px;
}
.huixin_box_1 .huixin-close a {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close.gif") no-repeat scroll 0 0;
    display: block;
    height: 16px;
    width: 17px;
}
.huixin_box_1 .huixin-close a:hover {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close01.gif") no-repeat scroll 0 0;
}
.huixin_box_2 {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/huixin/huixin-bg02.gif") no-repeat scroll 0 0;
    height: 458px;
    margin: auto;
    position: relative;
    width: 436px;
}
.huixin_box_2 .huixin-photo {
    height: 100px;
    margin: auto;
    padding-top: 40px;
    width: 200px;
}
.huixin_box_2 .huixin-photo ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.huixin_box_2 .huixin-photo li {
    float: left;
    height: 86px;
    margin-left: 20px !important;
    width: 75px;
}
.huixin_box_2 .huixin-photo li img {
    border: 4px solid #e3d4bd;
    height: 86px;
    width: 75px;
}
.huixin_box_2 .huixin-content {
    display: table;
    height: auto;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 8px;
    width: 290px;
}
.huixin_box_2 .huixin-content p {
    color: #433116;
    float: left;
    font-size: 14px;
    line-height: 22px;
    text-indent: 15px;
    width: 290px;
}
.huixin_box_2 .huixin-name {
    height: 15px;
    margin: auto;
    padding-right: 10px;
    padding-top: 8px;
    width: 270px;
}
.huixin_box_2 .huixin-name p {
    color: #433116;
    float: left;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    width: 270px;
}
.huixin_box_2 .huixin-close {
    height: 16px;
    position: absolute;
    right: 9px !important;
    top: 8px;
    width: 17px;
}
.huixin_box_2 .huixin-close a {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close.gif") no-repeat scroll 0 0;
    display: block;
    height: 16px;
    width: 17px;
}
.huixin_box_2 .huixin-close a:hover {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close01.gif") no-repeat scroll 0 0;
}
.huixin_box_3 {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/huixin/huixin-bg03.gif") no-repeat scroll 0 0;
    height: 458px;
    margin: auto;
    position: relative;
    width: 436px;
}
.huixin_box_3 .huixin-photo {
    height: 100px;
    margin: auto;
    padding-top: 80px;
    width: 200px;
}
.huixin_box_3 .huixin-photo ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.huixin_box_3 .huixin-photo li {
    float: left;
    height: 86px;
    margin-left: 20px !important;
    width: 75px;
}
.huixin_box_3 .huixin-photo li img {
    border: 4px solid #e3d4bd;
    height: 86px;
    width: 75px;
}
.huixin_box_3 .huixin-content {
    display: table;
    height: auto;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 8px;
    width: 290px;
}
.huixin_box_3 .huixin-content p {
    color: #433116;
    float: left;
    font-size: 14px;
    line-height: 22px;
    text-indent: 15px;
    width: 290px;
}
.huixin_box_3 .huixin-name {
    height: 15px;
    margin: auto;
    padding-right: 10px;
    padding-top: 8px;
    width: 270px;
}
.huixin_box_3 .huixin-name p {
    color: #433116;
    float: left;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    width: 270px;
}
.huixin_box_3 .huixin-close {
    height: 16px;
    position: absolute;
    right: 9px !important;
    top: 8px;
    width: 17px;
}
.huixin_box_3 .huixin-close a {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close.gif") no-repeat scroll 0 0;
    display: block;
    height: 16px;
    width: 17px;
}
.huixin_box_3 .huixin-close a:hover {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close01.gif") no-repeat scroll 0 0;
}
.huixin_box_4 {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/huixin/huixin-bg04.gif") no-repeat scroll 0 0;
    height: 458px;
    margin: auto;
    position: relative;
    width: 436px;
}
.huixin_box_4 .huixin-photo {
    height: 100px;
    margin: auto;
    padding-top: 80px;
    width: 200px;
}
.huixin_box_4 .huixin-photo ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.huixin_box_4 .huixin-photo li {
    float: left;
    height: 86px;
    margin-left: 20px !important;
    width: 75px;
}
.huixin_box_4 .huixin-photo li img {
    border: 4px solid #e3d4bd;
    height: 86px;
    width: 75px;
}
.huixin_box_4 .huixin-content {
    display: table;
    height: auto;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 8px;
    width: 290px;
}
.huixin_box_4 .huixin-content p {
    color: #433116;
    float: left;
    font-size: 14px;
    line-height: 22px;
    text-indent: 15px;
    width: 290px;
}
.huixin_box_4 .huixin-name {
    height: 15px;
    margin: auto;
    padding-right: 10px;
    padding-top: 8px;
    width: 270px;
}
.huixin_box_4 .huixin-name p {
    color: #433116;
    float: left;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    width: 270px;
}
.huixin_box_4 .huixin-close {
    height: 16px;
    position: absolute;
    right: 9px !important;
    top: 8px;
    width: 17px;
}
.huixin_box_4 .huixin-close a {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close.gif") no-repeat scroll 0 0;
    display: block;
    height: 16px;
    width: 17px;
}
.huixin_box_4 .huixin-close a:hover {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close01.gif") no-repeat scroll 0 0;
}
.huixin_box_5 {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/huixin/huixin-bg05.gif") no-repeat scroll 0 0;
    height: 458px;
    margin: auto;
    position: relative;
    width: 436px;
}
.huixin_box_5 .huixin-photo {
    height: 100px;
    margin: auto;
    padding-top: 80px;
    width: 200px;
}
.huixin_box_5 .huixin-photo ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.huixin_box_5 .huixin-photo li {
    float: left;
    height: 86px;
    margin-left: 20px !important;
    width: 75px;
}
.huixin_box_5 .huixin-photo li img {
    border: 4px solid #48a73a;
    height: 86px;
    width: 75px;
}
.huixin_box_5 .huixin-content {
    display: table;
    height: auto;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 8px;
    width: 290px;
}
.huixin_box_5 .huixin-content p {
    color: #433116;
    float: left;
    font-size: 14px;
    line-height: 22px;
    text-indent: 15px;
    width: 290px;
}
.huixin_box_5 .huixin-name {
    height: 15px;
    margin: auto;
    padding-right: 10px;
    padding-top: 8px;
    width: 270px;
}
.huixin_box_5 .huixin-name p {
    color: #433116;
    float: left;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    width: 270px;
}
.huixin_box_5 .huixin-close {
    height: 16px;
    position: absolute;
    right: 9px !important;
    top: 8px;
    width: 17px;
}
.huixin_box_5 .huixin-close a {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close.gif") no-repeat scroll 0 0;
    display: block;
    height: 16px;
    width: 17px;
}
.huixin_box_5 .huixin-close a:hover {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close01.gif") no-repeat scroll 0 0;
}
.huixin_box_6 {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/huixin/huixin-bg06.gif") no-repeat scroll 0 0;
    height: 458px;
    margin: auto;
    position: relative;
    width: 436px;
}
.huixin_box_6 .huixin-photo {
    height: 100px;
    margin: auto;
    padding-top: 50px;
    width: 200px;
}
.huixin_box_6 .huixin-photo ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.huixin_box_6 .huixin-photo li {
    float: left;
    height: 86px;
    margin-left: 14px !important;
    width: 75px;
}
.huixin_box_6 .huixin-photo li img {
    border: 4px solid #48a73a;
    height: 86px;
    width: 75px;
}
.huixin_box_6 .huixin-content {
    display: table;
    height: auto;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 8px;
    width: 290px;
}
.huixin_box_6 .huixin-content p {
    color: #433116;
    float: left;
    font-size: 14px;
    line-height: 22px;
    text-indent: 15px;
    width: 290px;
}
.huixin_box_6 .huixin-name {
    height: 15px;
    margin: auto;
    padding-right: 10px;
    padding-top: 8px;
    width: 270px;
}
.huixin_box_6 .huixin-name p {
    color: #433116;
    float: left;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    width: 270px;
}
.huixin_box_6 .huixin-close {
    height: 16px;
    position: absolute;
    right: 9px !important;
    top: 8px;
    width: 17px;
}
.huixin_box_6 .huixin-close a {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close.gif") no-repeat scroll 0 0;
    display: block;
    height: 16px;
    width: 17px;
}
.huixin_box_6 .huixin-close a:hover {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close01.gif") no-repeat scroll 0 0;
}
.huixin_box_7 {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/huixin/huixin-bg07.gif") no-repeat scroll 0 0;
    height: 458px;
    margin: auto;
    position: relative;
    width: 436px;
}
.huixin_box_7 .huixin-photo {
    height: 100px;
    margin: auto;
    padding-top: 80px;
    width: 200px;
}
.huixin_box_7 .huixin-photo ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.huixin_box_7 .huixin-photo li {
    float: left;
    height: 86px;
    margin-left: 14px !important;
    width: 75px;
}
.huixin_box_7 .huixin-photo li img {
    border: 4px solid #48a73a;
    height: 86px;
    width: 75px;
}
.huixin_box_7 .huixin-content {
    display: table;
    height: auto;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 8px;
    width: 290px;
}
.huixin_box_7 .huixin-content p {
    color: #433116;
    float: left;
    font-size: 14px;
    line-height: 22px;
    text-indent: 15px;
    width: 290px;
}
.huixin_box_7 .huixin-name {
    height: 15px;
    margin: auto;
    padding-right: 10px;
    padding-top: 8px;
    width: 270px;
}
.huixin_box_7 .huixin-name p {
    color: #433116;
    float: left;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    width: 270px;
}
.huixin_box_7 .huixin-close {
    height: 16px;
    position: absolute;
    right: 9px !important;
    top: 8px;
    width: 17px;
}
.huixin_box_7 .huixin-close a {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close.gif") no-repeat scroll 0 0;
    display: block;
    height: 16px;
    width: 17px;
}
.huixin_box_7 .huixin-close a:hover {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close01.gif") no-repeat scroll 0 0;
}
.huixin_box_8 {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/huixin/huixin-bg08.gif") no-repeat scroll 0 0;
    height: 458px;
    margin: auto;
    position: relative;
    width: 436px;
}
.huixin_box_8 .huixin-photo {
    height: 100px;
    margin: auto;
    padding-top: 100px;
    width: 200px;
}
.huixin_box_8 .huixin-photo ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.huixin_box_8 .huixin-photo li {
    float: left;
    height: 86px;
    margin-left: 14px !important;
    width: 75px;
}
.huixin_box_8 .huixin-photo li img {
    border: 4px solid #763633;
    height: 86px;
    width: 75px;
}
.huixin_box_8 .huixin-content {
    display: table;
    height: auto;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 8px;
    width: 290px;
}
.huixin_box_8 .huixin-content p {
    color: #433116;
    float: left;
    font-size: 14px;
    line-height: 22px;
    text-indent: 15px;
    width: 290px;
}
.huixin_box_8 .huixin-name {
    height: 15px;
    margin: auto;
    padding-right: 10px;
    padding-top: 8px;
    width: 270px;
}
.huixin_box_8 .huixin-name p {
    color: #433116;
    float: left;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    width: 270px;
}
.huixin_box_8 .huixin-close {
    height: 16px;
    position: absolute;
    right: 9px !important;
    top: 8px;
    width: 17px;
}
.huixin_box_8 .huixin-close a {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close.gif") no-repeat scroll 0 0;
    display: block;
    height: 16px;
    width: 17px;
}
.huixin_box_8 .huixin-close a:hover {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close01.gif") no-repeat scroll 0 0;
}
.huixin_box_9 {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/huixin/huixin-bg09.gif") no-repeat scroll 0 0;
    height: 458px;
    margin: auto;
    position: relative;
    width: 436px;
}
.huixin_box_9 .huixin-photo {
    height: 100px;
    margin: auto;
    padding-top: 100px;
    width: 200px;
}
.huixin_box_9 .huixin-photo ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.huixin_box_9 .huixin-photo li {
    float: left;
    height: 86px;
    margin-left: 14px !important;
    width: 75px;
}
.huixin_box_9 .huixin-photo li img {
    border: 4px solid #0a62b4;
    height: 86px;
    width: 75px;
}
.huixin_box_9 .huixin-content {
    display: table;
    height: auto;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 8px;
    width: 290px;
}
.huixin_box_9 .huixin-content p {
    color: #333;
    float: left;
    font-size: 14px;
    line-height: 22px;
    text-indent: 15px;
    width: 290px;
}
.huixin_box_9 .huixin-name {
    height: 15px;
    margin: auto;
    padding-right: 10px;
    padding-top: 8px;
    width: 270px;
}
.huixin_box_9 .huixin-name p {
    color: #333;
    float: left;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    width: 270px;
}
.huixin_box_9 .huixin-close {
    height: 16px;
    position: absolute;
    right: 9px !important;
    top: 8px;
    width: 17px;
}
.huixin_box_9 .huixin-close a {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close.gif") no-repeat scroll 0 0;
    display: block;
    height: 16px;
    width: 17px;
}
.huixin_box_9 .huixin-close a:hover {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close01.gif") no-repeat scroll 0 0;
}
.huixin_box_10 {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/huixin/huixin-bg10.gif") no-repeat scroll 0 0;
    height: 458px;
    margin: auto;
    position: relative;
    width: 436px;
}
.huixin_box_10 .huixin-photo {
    height: 100px;
    margin: auto;
    padding-top: 30px;
    width: 200px;
}
.huixin_box_10 .huixin-photo ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.huixin_box_10 .huixin-photo li {
    float: left;
    height: 86px;
    margin-left: 14px !important;
    width: 75px;
}
.huixin_box_10 .huixin-photo li img {
    border: 4px solid #225319;
    height: 86px;
    width: 75px;
}
.huixin_box_10 .huixin-content {
    display: table;
    height: auto;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 8px;
    width: 290px;
}
.huixin_box_10 .huixin-content p {
    color: #333;
    float: left;
    font-size: 14px;
    line-height: 22px;
    text-indent: 15px;
    width: 290px;
}
.huixin_box_10 .huixin-name {
    height: 15px;
    margin: auto;
    padding-right: 10px;
    padding-top: 8px;
    width: 270px;
}
.huixin_box_10 .huixin-name p {
    color: #333;
    float: left;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    width: 270px;
}
.huixin_box_10 .huixin-close {
    height: 16px;
    position: absolute;
    right: 9px !important;
    top: 8px;
    width: 17px;
}
.huixin_box_10 .huixin-close a {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close.gif") no-repeat scroll 0 0;
    display: block;
    height: 16px;
    width: 17px;
}
.huixin_box_10 .huixin-close a:hover {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close01.gif") no-repeat scroll 0 0;
}
.huixin_box_11 {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/huixin/huixin-bg11.gif") no-repeat scroll 0 0;
    height: 458px;
    margin: auto;
    position: relative;
    width: 436px;
}
.huixin_box_11 .huixin-photo {
    height: 100px;
    margin: auto;
    padding-top: 90px;
    width: 200px;
}
.huixin_box_11 .huixin-photo ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.huixin_box_11 .huixin-photo li {
    float: left;
    height: 86px;
    margin-left: 14px !important;
    width: 75px;
}
.huixin_box_11 .huixin-photo li img {
    border: 4px solid #f9b7e2;
    height: 86px;
    width: 75px;
}
.huixin_box_11 .huixin-content {
    display: table;
    height: auto;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 8px;
    width: 290px;
}
.huixin_box_11 .huixin-content p {
    color: #333;
    float: left;
    font-size: 14px;
    line-height: 22px;
    text-indent: 15px;
    width: 290px;
}
.huixin_box_11 .huixin-name {
    height: 15px;
    margin: auto;
    padding-right: 10px;
    padding-top: 8px;
    width: 270px;
}
.huixin_box_11 .huixin-name p {
    color: #333;
    float: left;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    width: 270px;
}
.huixin_box_11 .huixin-close {
    height: 16px;
    position: absolute;
    right: 9px !important;
    top: 8px;
    width: 17px;
}
.huixin_box_11 .huixin-close a {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close.gif") no-repeat scroll 0 0;
    display: block;
    height: 16px;
    width: 17px;
}
.huixin_box_11 .huixin-close a:hover {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close01.gif") no-repeat scroll 0 0;
}
.huixin_box_12 {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/huixin/huixin-bg12.gif") no-repeat scroll 0 0;
    height: 458px;
    margin: auto;
    position: relative;
    width: 436px;
}
.huixin_box_12 .huixin-photo {
    height: 100px;
    margin: auto;
    padding-top: 60px;
    width: 200px;
}
.huixin_box_12 .huixin-photo ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.huixin_box_12 .huixin-photo li {
    float: left;
    height: 86px;
    margin-left: 14px !important;
    width: 75px;
}
.huixin_box_12 .huixin-photo li img {
    border: 4px solid #f9b7e2;
    height: 86px;
    width: 75px;
}
.huixin_box_12 .huixin-content {
    display: table;
    height: auto;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 8px;
    width: 310px;
}
.huixin_box_12 .huixin-content p {
    color: #333;
    float: left;
    font-size: 14px;
    line-height: 22px;
    text-indent: 15px;
    width: 310px;
}
.huixin_box_12 .huixin-name {
    height: 15px;
    margin: auto;
    padding-top: 8px;
    width: 310px;
}
.huixin_box_12 .huixin-name p {
    color: #333;
    float: left;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    width: 310px;
}
.huixin_box_12 .huixin-close {
    height: 16px;
    position: absolute;
    right: 9px !important;
    top: 8px;
    width: 17px;
}
.huixin_box_12 .huixin-close a {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close.gif") no-repeat scroll 0 0;
    display: block;
    height: 16px;
    width: 17px;
}
.huixin_box_12 .huixin-close a:hover {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close01.gif") no-repeat scroll 0 0;
}
.huixin_box_13 {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/huixin/huixin-bg13.gif") no-repeat scroll 0 0;
    height: 458px;
    margin: auto;
    position: relative;
    width: 436px;
}
.huixin_box_13 .huixin-photo {
    height: 100px;
    margin: auto;
    padding-top: 100px;
    width: 200px;
}
.huixin_box_13 .huixin-photo ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.huixin_box_13 .huixin-photo li {
    float: left;
    height: 86px;
    margin-left: 14px !important;
    width: 75px;
}
.huixin_box_13 .huixin-photo li img {
    border: 4px solid #f9b7e2;
    height: 86px;
    width: 75px;
}
.huixin_box_13 .huixin-content {
    display: table;
    height: auto;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 8px;
    width: 310px;
}
.huixin_box_13 .huixin-content p {
    color: #333;
    float: left;
    font-size: 14px;
    line-height: 22px;
    text-indent: 15px;
    width: 310px;
}
.huixin_box_13 .huixin-name {
    height: 15px;
    margin: auto;
    padding-top: 8px;
    width: 310px;
}
.huixin_box_13 .huixin-name p {
    color: #333;
    float: left;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    width: 310px;
}
.huixin_box_13 .huixin-close {
    height: 16px;
    position: absolute;
    right: 9px !important;
    top: 8px;
    width: 17px;
}
.huixin_box_13 .huixin-close a {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close.gif") no-repeat scroll 0 0;
    display: block;
    height: 16px;
    width: 17px;
}
.huixin_box_13 .huixin-close a:hover {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close01.gif") no-repeat scroll 0 0;
}
.huixin_box_14 {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/huixin/huixin-bg14.gif") no-repeat scroll 0 0;
    height: 458px;
    margin: auto;
    position: relative;
    width: 436px;
}
.huixin_box_14 .huixin-photo {
    height: 100px;
    margin: auto;
    padding-top: 20px;
    width: 200px;
}
.huixin_box_14 .huixin-photo ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.huixin_box_14 .huixin-photo li {
    float: left;
    height: 86px;
    margin-left: 14px !important;
    width: 75px;
}
.huixin_box_14 .huixin-photo li img {
    border: 4px solid #b60f16;
    height: 86px;
    width: 75px;
}
.huixin_box_14 .huixin-content {
    display: table;
    height: auto;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 8px;
    width: 310px;
}
.huixin_box_14 .huixin-content p {
    color: #333;
    float: left;
    font-size: 14px;
    line-height: 22px;
    text-indent: 15px;
    width: 310px;
}
.huixin_box_14 .huixin-name {
    height: 15px;
    margin: auto;
    padding-top: 8px;
    width: 310px;
}
.huixin_box_14 .huixin-name p {
    color: #333;
    float: left;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    width: 310px;
}
.huixin_box_14 .huixin-close {
    height: 16px;
    position: absolute;
    right: 9px !important;
    top: 8px;
    width: 17px;
}
.huixin_box_14 .huixin-close a {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close.gif") no-repeat scroll 0 0;
    display: block;
    height: 16px;
    width: 17px;
}
.huixin_box_14 .huixin-close a:hover {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close01.gif") no-repeat scroll 0 0;
}
.huixin_box_15 {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/huixin/huixin-bg15.gif") no-repeat scroll 0 0;
    height: 458px;
    margin: auto;
    position: relative;
    width: 436px;
}
.huixin_box_15 .huixin-photo {
    height: 100px;
    margin: auto;
    padding-top: 110px;
    width: 200px;
}
.huixin_box_15 .huixin-photo ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.huixin_box_15 .huixin-photo li {
    float: left;
    height: 86px;
    margin-left: 14px !important;
    width: 75px;
}
.huixin_box_15 .huixin-photo li img {
    border: 4px solid #b60f16;
    height: 86px;
    width: 75px;
}
.huixin_box_15 .huixin-content {
    display: table;
    height: auto;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 8px;
    width: 310px;
}
.huixin_box_15 .huixin-content p {
    color: #333;
    float: left;
    font-size: 14px;
    line-height: 22px;
    text-indent: 15px;
    width: 310px;
}
.huixin_box_15 .huixin-name {
    height: 15px;
    margin: auto;
    padding-top: 8px;
    width: 310px;
}
.huixin_box_15 .huixin-name p {
    color: #333;
    float: left;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    width: 310px;
}
.huixin_box_15 .huixin-close {
    height: 16px;
    position: absolute;
    right: 9px !important;
    top: 8px;
    width: 17px;
}
.huixin_box_15 .huixin-close a {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close.gif") no-repeat scroll 0 0;
    display: block;
    height: 16px;
    width: 17px;
}
.huixin_box_15 .huixin-close a:hover {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close01.gif") no-repeat scroll 0 0;
}
.huixin_box_16 {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/huixin/huixin-bg16.gif") no-repeat scroll 0 0;
    height: 458px;
    margin: auto;
    position: relative;
    width: 436px;
}
.huixin_box_16 .huixin-photo {
    height: 100px;
    margin: auto;
    padding-top: 80px;
    width: 200px;
}
.huixin_box_16 .huixin-photo ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.huixin_box_16 .huixin-photo li {
    float: left;
    height: 86px;
    margin-left: 14px !important;
    width: 75px;
}
.huixin_box_16 .huixin-photo li img {
    border: 4px solid #7cad0c;
    height: 86px;
    width: 75px;
}
.huixin_box_16 .huixin-content {
    display: table;
    height: auto;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 8px;
    width: 310px;
}
.huixin_box_16 .huixin-content p {
    color: #333;
    float: left;
    font-size: 14px;
    line-height: 22px;
    text-indent: 15px;
    width: 310px;
}
.huixin_box_16 .huixin-name {
    height: 15px;
    margin: auto;
    padding-top: 8px;
    width: 310px;
}
.huixin_box_16 .huixin-name p {
    color: #333;
    float: left;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    width: 310px;
}
.huixin_box_16 .huixin-close {
    height: 16px;
    position: absolute;
    right: 9px !important;
    top: 8px;
    width: 17px;
}
.huixin_box_16 .huixin-close a {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close.gif") no-repeat scroll 0 0;
    display: block;
    height: 16px;
    width: 17px;
}
.huixin_box_16 .huixin-close a:hover {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close01.gif") no-repeat scroll 0 0;
}
.huixin_box_17 {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/huixin/huixin-bg17.gif") no-repeat scroll 0 0;
    height: 458px;
    margin: auto;
    position: relative;
    width: 436px;
}
.huixin_box_17 .huixin-photo {
    height: 100px;
    margin: auto;
    padding-top: 150px;
    width: 200px;
}
.huixin_box_17 .huixin-photo ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.huixin_box_17 .huixin-photo li {
    float: left;
    height: 86px;
    margin-left: 14px !important;
    width: 75px;
}
.huixin_box_17 .huixin-photo li img {
    border: 4px solid #576e34;
    height: 86px;
    width: 75px;
}
.huixin_box_17 .huixin-content {
    display: table;
    height: auto;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 8px;
    width: 310px;
}
.huixin_box_17 .huixin-content p {
    color: #333;
    float: left;
    font-size: 14px;
    line-height: 22px;
    text-indent: 15px;
    width: 310px;
}
.huixin_box_17 .huixin-name {
    height: 15px;
    margin: auto;
    padding-top: 8px;
    width: 310px;
}
.huixin_box_17 .huixin-name p {
    color: #333;
    float: left;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    width: 310px;
}
.huixin_box_17 .huixin-close {
    height: 16px;
    position: absolute;
    right: 9px !important;
    top: 8px;
    width: 17px;
}
.huixin_box_17 .huixin-close a {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close.gif") no-repeat scroll 0 0;
    display: block;
    height: 16px;
    width: 17px;
}
.huixin_box_17 .huixin-close a:hover {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close01.gif") no-repeat scroll 0 0;
}
.huixin_box_18 {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/huixin/huixin-bg18.gif") no-repeat scroll 0 0;
    height: 458px;
    margin: auto;
    position: relative;
    width: 436px;
}
.huixin_box_18 .huixin-photo {
    height: 100px;
    margin: auto;
    padding-top: 80px;
    width: 200px;
}
.huixin_box_18 .huixin-photo ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.huixin_box_18 .huixin-photo li {
    float: left;
    height: 86px;
    margin-left: 14px !important;
    width: 75px;
}
.huixin_box_18 .huixin-photo li img {
    border: 4px solid #9f9045;
    height: 86px;
    width: 75px;
}
.huixin_box_18 .huixin-content {
    display: table;
    height: auto;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 8px;
    width: 310px;
}
.huixin_box_18 .huixin-content p {
    color: #333;
    float: left;
    font-size: 14px;
    line-height: 22px;
    text-indent: 15px;
    width: 310px;
}
.huixin_box_18 .huixin-name {
    height: 15px;
    margin: auto;
    padding-top: 8px;
    width: 310px;
}
.huixin_box_18 .huixin-name p {
    color: #333;
    float: left;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    width: 310px;
}
.huixin_box_18 .huixin-close {
    height: 16px;
    position: absolute;
    right: 9px !important;
    top: 8px;
    width: 17px;
}
.huixin_box_18 .huixin-close a {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close.gif") no-repeat scroll 0 0;
    display: block;
    height: 16px;
    width: 17px;
}
.huixin_box_18 .huixin-close a:hover {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close01.gif") no-repeat scroll 0 0;
}
.huixin_box_19 {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/huixin/huixin-bg19.gif") no-repeat scroll 0 0;
    height: 458px;
    margin: auto;
    position: relative;
    width: 436px;
}
.huixin_box_19 .huixin-photo {
    height: 100px;
    margin: auto;
    padding-top: 80px;
    width: 200px;
}
.huixin_box_19 .huixin-photo ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.huixin_box_19 .huixin-photo li {
    float: left;
    height: 86px;
    margin-left: 14px !important;
    width: 75px;
}
.huixin_box_19 .huixin-photo li img {
    border: 4px solid #ffbbb5;
    height: 86px;
    width: 75px;
}
.huixin_box_19 .huixin-content {
    display: table;
    height: auto;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 8px;
    width: 280px;
}
.huixin_box_19 .huixin-content p {
    color: #333;
    float: left;
    font-size: 14px;
    line-height: 22px;
    text-indent: 15px;
    width: 280px;
}
.huixin_box_19 .huixin-name {
    height: 15px;
    margin: auto;
    padding-top: 8px;
    width: 280px;
}
.huixin_box_19 .huixin-name p {
    color: #333;
    float: left;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    width: 280px;
}
.huixin_box_19 .huixin-close {
    height: 16px;
    position: absolute;
    right: 9px !important;
    top: 8px;
    width: 17px;
}
.huixin_box_19 .huixin-close a {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close.gif") no-repeat scroll 0 0;
    display: block;
    height: 16px;
    width: 17px;
}
.huixin_box_19 .huixin-close a:hover {
    background: rgba(0, 0, 0, 0) url("/resource/images/memorials/v2_close01.gif") no-repeat scroll 0 0;
}
.huixin-photo.photo_1 ul li{
    padding-left:54px;
}
.huixin-photo.photo_2 ul li{
    padding-left:8px;
}
.huixin-photo.photo_3{
    width:100%;
    margin-left:63px;
}
.huixin-photo.photo_4{
    width:100%;
    margin-left:18px;
}

.huixin_box_1 .huixin-photo.photo_4{
    width:100%;
    margin-left:37px;
}
.huixin_box_1 .huixin-photo.photo_1 li{margin-left:45px;}

.huixin_box_1 .huixin-photo.photo_4 li,
.huixin_box_2 .huixin-photo.photo_4 li,
.huixin_box_3 .huixin-photo.photo_4 li,
.huixin_box_4 .huixin-photo.photo_4 li
{
    margin-left:10px !important;
}
.huixin_box_2 .huixin-photo.photo_4{margin-left:25px;}
.huixin_box_2 .huixin-photo.photo_3{margin-left:48px;}
.huixin_box_2 .huixin-photo.photo_2{margin-left:86px;}
.huixin_box_2 .huixin-photo.photo_1{margin-left:86px;}

.huixin_box_3 .huixin-photo.photo_4{margin-left:29px;}
.huixin_box_3 .huixin-photo.photo_3{margin-left:48px;}
.huixin_box_3 .huixin-photo.photo_2{margin-left:86px;}
.huixin_box_3 .huixin-photo.photo_1{margin-left:86px;}

.huixin_box_4 .huixin-photo.photo_4{margin-left:29px;}
.huixin_box_4 .huixin-photo.photo_3{margin-left:48px;}
.huixin_box_4 .huixin-photo.photo_2{margin-left:86px;}
.huixin_box_4 .huixin-photo.photo_1{margin-left:86px;}

.huixin_box_5 .huixin-photo.photo_4{margin-left:2px;}
.huixin_box_5 .huixin-photo.photo_3{margin-left:48px;}
.huixin_box_5 .huixin-photo.photo_2{margin-left:86px;}
.huixin_box_5 .huixin-photo.photo_1{margin-left:86px;}