/*覆盖bootcss*/
.menu-list{ height:42px; margin:auto; background:#4e4746; position:relative; border-radius:5px 5px 0 0; overflow:hidden;}
.menu-list li{float:left; height:42px; line-height:42px; text-align:center; padding:0 !important;}
.menu-list li a{color:#fff; display:block; text-decoration:none; padding:0 10px;}
.menu-list li a:hover, .menu-list li.active a{background-color:#9e3a31;; color:#FF0;}
.menu-list li.active a{color:#FFF;}
.navbar{
	min-height: auto;
}
