@charset "utf-8";
/* CSS Document */

html, body, div, ul, ol, li, h1, h2, h3, h4, p, strong, input, form, img { margin: 0; padding: 0; vertical-align: middle; }
body { overflow: -Scroll; overflow-x:hidden`
}
ul, ol, li { list-style: none; }
a { text-decoration: none; color: #000; blr: expression(this.onFocus=this.blur());
}
a:hover { text-decoration: none; }
img { border: 0; }
a { }
a:hover { color: #B81515; }
/*box-shadow:3px 3px 3px #e5e5e5;-moz-border-radius: 5px;-webkit-border-radius: 5px;*/
body {/*font-family:微软雅黑;font-family:宋体;*/ font-family: Arial, 微软雅黑; position: relative; line-height: 24px; color: #8e8e8e; font-size: 12px; }
.cle { clear: both; height: 0px; margin: 0; padding: 0; border: none; overflow: hidden; }
.clearfix:before, .clearfix:after { content: "."; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; } /* IE < 8  haslayout */
.lay_out_w { width: 1000px; margin: 0 auto; text-align: left; }
/*header*/
/*research*/
.tool { margin: 0 auto; padding-top: 30px; width: 100%; min-width: 1260px; height: 40px; }
.tool .tl { width: 880px; height: 40px; margin: 0 auto; }
.snav { width: auto; height: 66px; line-height: 66px; float: left; margin-top: -20px; }
.snav i { padding: 0 8px 0 10px; font-style: normal; }
.soso { width: 257px; height: 32px; line-height: 32px; float: right; margin-top: -10px; margin-right: 10px; }
.search { width: 257px; height: 32px; background: url(../Images/search.png) no-repeat; }
.search_text { width: 222px; height: 32px; line-height: 32px; padding: 0; border: none; float: left; background: none; }
.search_submit { width: 30px; height: 32px; background: none; float: left; border: none; cursor: pointer; }
/*main*/	
.main { width: 100%; background: url(../Images/main_bg.jpg) repeat; }
.m1 { width: 100%; height: 656px; margin: 0 auto; text-align: left; background: url(../Images/m1.png) center no-repeat; }
.m1_w { width: 1004px; margin: 0 auto; height: auto; }
.Large { margin-top: 117px; position: relative; height: 388px; z-index: 9; }
.solo { display: block; margin-top: 17px; width: 200px; height: 72px; }
.lbig { position: absolute; top: 0; right: 0; z-index: 99; }
#wrap_slide { width: 765px; height:;
position: relative; margin: 0 auto; }
.slide { width: 765px; height:;
overflow: hidden; position: absolute; left: 50%; margin-left: -382px; top: 0px; }
.slide ul { padding: 0px; margin: 0; }
.slide ul li { float: left; width: 237px; height: 388px; padding: 0 9px; text-align: center; overflow: hidden; }
.slide ul li span { width: 237px; height: 327px; display: block; margin: 0 auto; overflow: hidden; background: url(../Images/margee2.png) no-repeat; position: relative; }
.slide ul li span i { displau: block; width: 33px; height: 37px; position: absolute; right: 7px; bottom: 8px; background: url(../Images/m1-11.png) no-repeat; }
.p_img { width: 228px; height: 318px; display: block; border: none; background: #fff; padding: 0px; margin: 1px 8px 8px 1px; }
.p_img img { }
.p_name { width: 100%; height: 50px; display: block; margin: 0 auto; font-size: 12px; text-align: center; line-height: 30px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; color: #646464; }
.p_name b { line-height: 28px; font-size: 16px; font-weight: normal; display: block; }
.p_name i { line-height: 26px; font-style: normal; display: block; }
#goL { width: 40px; height: 40px; overflow: hidden; background: url(../Images/margee1.png) 0 0 no-repeat; position: absolute; left: -239px; top: 218px; cursor: pointer; display: block; }
#goR { width: 40px; height: 40px; overflow: hidden; background: url(../Images/margee1.png) -40px 0 no-repeat; position: absolute; left: -179px; top: 218px; cursor: pointer; display: block; }
.m2 { widht: 100%; height: 559px; background: url(../Images/m2.png) center no-repeat; }
.m2_w { width: 1004px; height: 559px; margin: 0 auto; overflow: hidden; position: relative; }
.casetag { width: 353px; height: 43px; line-height: 43px; text-align: center; background: #fff; margin: 55px auto 48px; color: #191919; font-weight: bold; font-size: 24px; }
.slideTxtBox { width: 1006px; height: 327px; text-align: left; }
.slideTxtBox .hd { width: 243px; height: 260px; line-height: 44px; padding: 0; position: relative; float: left; }
.slideTxtBox .hd ul { float: left; position: absolute; left: 0px; top: -1px; height: 44px; }
.slideTxtBox .hd ul li { height: 44px; padding: 0 26px; cursor: pointer; color: #fff; }
.slideTxtBox .hd ul li.on { width: 191px; height: 44px; background: url(../Images/on.png) no-repeat; color: #c69c6c; }
.slideTxtBox .bd ul { width: 749px; zoom: 1; float: right; }
.slideTxtBox .bd li { border: 2px solid #fff; background: #fff; text-align: center; }
.slideTxtBox .bd li.big { width: 490px; height: 312px; float: left; margin-right: 10px; }
.slideTxtBox .bd li.small { width: 239px; height: 150px; float: left; margin-bottom: 8px; }
.m2more { width: 189px; height: 42px; line-height: 42px; display: block; padding: 0 26px; border: 1px solid #fff; color: #fff; position: absolute; bottom: 97px; left: 0; }
a.m2more:hover { color: #c69c6c; border: 1px solid #c69c6c; }
.m3 { width: 100%; height: 2230px; background: url(../Images/m3.png) center no-repeat; }
.m3_w { width: 1004px; height: 2230px; margin: 0 auto; overflow: hidden; }
.m3tit { width: 526px; height: 208px; margin: 45px auto 0; }
.advant { overflow: hidden; }
.one { margin-top: 22px; width: 1004px; height: 309px; overflow: hidden; }
.one img { margin-left: 54px; }
.one-wen { width: 502px; overflow: hidden; float: left; }
.one-wen b { font-size: 28px; line-height: 36px; font-family: 微软雅黑; color: #000; margin: 44px 0 0 55px; display: block; }
.one-wen i { font-size: 18px; line-height: 31px; font-family: Georgia, "Times New Roman", Times, serif; font-style: normal; margin-left: 55px; }
.one-wen ul { overflow: hidden; padding-left: 40px; }
.one-wen li { font-size: 16px; border-bottom: 1px solid #c8c8c8; line-height: 25px; padding: 7px 0 9px 15px; color: #5b5b5b; background: url(../Images/advan1.png) 2px 13px no-repeat; }
.two { overflow: hidden; margin-top: 59px; }
.two img { margin-left: 16px; }
.two .one-wen { float: right; width: 490px; }
.two .one-wen b { margin: 84px 0 0 55px; }
.three { overflow: hidden; margin-top: 59px; }
.three img { margin-left: 98px; }
.three .one-wen { float: left; width: 498px; }
.three .one-wen b { margin: 97px 0 0 55px; }
.four { overflow: hidden; margin-top: 57px; }
.four img { margin-left: 36px; }
.four .one-wen { float: right; width: 490px; }
.four .one-wen b { margin: 116px 0 0 55px; }
.five { overflow: hidden; margin-top: 57px; }
.five img { margin-left: 36px; }
.five .one-wen { float: left; width: 488px; }
.five .one-wen b { margin: 87px 0 0 55px; }
.m4 { width: 100%; height: 157px; background: url(../Images/m4.png) center no-repeat; color: #2d2d2d; }
.m4_w { width: 1004px; height: 157px; margin: 0 auto; }
.m4_w i { line-height: 20px; font-style: normal; display: block; padding: 49px 0 0 30px; }
.m4_w font { font-size: 27px; font-family: Arial, Helvetica, sans-serif; line-height: 27px; padding-left: 30px; }
235*145--470*290 .m5 {
width:100%;
overflow:hidden;
}
.m5_w { width: 1004px; height:;
overflow: hidden; margin: 0 auto; padding-top: 56px; }
.m5_top { overflow: hidden; }
.m5_bot { overflow: hidden; margin-top: 50px; }
.specific { width: 247px; background: url(../Images/m5-1.png) top center no-repeat; overflow: hidden; float: left; }
.definite { width: 1000px;/* background: url(../Images/m5-2.png) top center no-repeat;*/ overflow: hidden; float: left; margin: 0 18px; height: 241px; }
.tit { width: 100%; height: 50px; line-height: 50px; text-indent: 32px; color: #3e3e3e; background: url(../Images/m5-4.png) 17px 20px no-repeat; }
.more { width: 65px; height: 50px; float: right; background: url(../Images/m5-3.png) center no-repeat; }
.par { width: 246px; height: 288px; overflow: hidden; }
.picScroll-top { margin: 0 auto; width: 246px; overflow: hidden; position: relative; top: -4px; }
.picScroll-top .bd { padding: 0px; }
.picScroll-top .bd ul { overflow: hidden; zoom: 1; border: 1px solid #ccc; border-top: none; border-bottom: none; }
.picScroll-top .bd ul li { text-align: center; zoom: 1; padding: 4px 0; }
.picScroll-top .bd ul li .pic { text-align: center; width: 244px; height: 88px; display: block; border: 1px solid #ccc; border-left: none; border-right: none; }
.picScroll-top .bd ul li .pic a:hover img { }
.about { width: 470px; height: 290px; margin: 0 auto; position: relative; }
.about ul { }
.about ul li { float: left; }
.about span { position: absolute; bottom: 0; left: 0; width: 416px; height: 64px; background: url(../Images/m5-11.png) repeat; padding: 20px 27px; overflow: hidden; }
.honor { width: 247px; height: 289px; overflow: hidden; }
.picScroll-top2 { margin: 0 auto; width: 246px; overflow: hidden; position: relative; z-index: 1; }
.picScroll-top2 .hd2 { overflow: hidden; width: 50px; height: 25px; position: absolute; bottom: 0; right: 0; background: url(../Images/m5-5.png) no-repeat; z-index: 9; }
.picScroll-top2 .hd2 .prev, .picScroll-top2 .hd2 .next { display: block; float: left; width: 25px; height: 25px; overflow: hidden; cursor: pointer; }
.picScroll-top2 .hd2 .prevStop { background-position: -60px -100px; }
.picScroll-top2 .hd2 .nextStop { background-position: -60px -140px; }
.picScroll-top2 .bd2 { padding: 0px; }
.picScroll-top2 .bd2 ul { overflow: hidden; zoom: 1; }
.picScroll-top2 .bd2 ul li { text-align: center; zoom: 1; }
.picScroll-top2 .bd2 ul li .pic2 { text-align: center; width: 244px; height: 287px; display: block; padding: 0px; border: 1px solid #ccc; }
.faq { width: 247px; height: 350px; overflow: hidden; }
.txtMarquee-top { width: 244px; height: 348px; overflow: hidden; position: relative; border: 1px solid #ccc; }
.txtMarquee-top .bd { padding: 18px 13px; }
.txtMarquee-top .infoList li { line-height: 23px; background: url(../Images/m5-10.png) bottom repeat-x; padding: 0px 0 13px; margin-bottom: 14px; }
.txtMarquee-top .infoList li a { display: block; }
.txtMarquee-top .infoList li b { display: block; padding-left: 30px; color: #282828; margin-bottom: 8px; background: url(../Images/m5-6_01.png) left center no-repeat; font-weight: normal; }
.txtMarquee-top .infoList li i { display: block; padding-left: 30px; color: #838383; font-style: normal; background: url(../Images/m5-6_02.png) 0 4px no-repeat; }
.news { }
.slideTxtBox2 { width: 1000px; text-align: left; margin: auto; margin-left:-65px;}
.slideTxtBox2 .hd { height: 50px; line-height: 50px; position: relative; border-bottom: 1px solid #666; }
.slideTxtBox2 .hd ul { float: left; position: absolute; left: 0px; top: 4px; height: 50px; margin-left: 30px; }
.slideTxtBox2 .hd ul li { float: left; cursor: pointer; text-indent: 15px; font-size: 15px; color: #3e3e3e; background: url(../Images/m5-4.png) 5px 20px no-repeat; }
.slideTxtBox2 .hd ul li.on { height: 50px; color: #991010; background: url(../Images/m5-40.png) 5px 20px no-repeat; font-size: 15px; }
.slideTxtBox2 .bd ul { /*width: 954px;*/ overflow: hidden; /*padding: 20px 22px; border: 1px solid #ccc;*/ zoom: 1; }
/*.slideTxtBox2 .bd li { padding: 8px 0 0; line-height: 24px; }*/
.slideTxtBox2 .bd li a { }
.slideTxtBox2 .bd li span { color: #161618; padding: 0 0 0 19px; line-height: 24px; /*background: url(../Images/m5-9.png)*/ left center no-repeat;
display: block; font-weight: normal; }
.slideTxtBox2 .bd li font { color: #787878; padding: 0 0 0 19px; line-height: 28px; }
.slideTxtBox2 .bd .first { height: auto; overflow: hidden; padding: 0 0 4px 0; }
.slideTxtBox2 .bd .first .pis { width: 183px; height: 109px; padding: 6px 5px; border: 1px solid #ccc; float: left; }
.slideTxtBox2 .bd .first a { display: block; float: right; width: 213px; }
.slideTxtBox2 .bd .first b { font-style: normal; margin-top: 6px; line-height: 44px; background: none; padding: 0; }
.slideTxtBox2 .bd .first font { line-height: 22px; padding: 0; }
.jing { width: 246px; height: 350px; overflow: hidden; }
.txtMarquee-top2 { width: 244px; height: 348px; overflow: hidden; position: relative; border: 1px solid #ccc; }
.txtMarquee-top2 .bd { padding: 18px 13px; }
.txtMarquee-top2 .infoList li { overflow: hidden; height: 129px; line-height: 20px; background: url(../Images/m5-10.png) bottom repeat-x; padding: 0px 0 13px; margin-bottom: 14px; }
.txtMarquee-top2 .infoList li a { display: block; }
.txtMarquee-top2 .infoList li a img { float: left; margin: 0 16px 0px 0; }
.m6 { width: 100%; height: 594px; background: url(../Images/m6.png) center no-repeat; }
.m6_w { width: 1004px; height: 594px; overflow: hidden; margin: 0 auto; }
.dang { width: 523px; height: 350px; margin: 94px 0 0 90px; float: left; }
.dang b, .dang i { display: block; }
.dang i { font-style: normal; }
.lianxi { width: 209px; float: right; margin: 94px 102px 0 0; }
.lianxi img { margin-left: 13px; }
.lianxi span { display: block; background: url(../Images/m6-10.png) left no-repeat; padding-left: 36px; line-height: 36px; margin-top: 20px; }
.lianxi ul { margin-top: 20px; }
.lianxi ul li { height: 36px; line-height: 30px; text-indent: 10px; }
.di_text { width: 523px; height: 320px; overflow: hidden; margin-top: 15px; }
#myform1 { line-height: 34px; }
#myform1 tr { margin: 8px 0; display: block; float: left; }
#myform1 input, #myform1 textarea { border: 1px solid #ccc; color: #8e8e8e; }
#myform1 input { height: 34px; padding: 0 0 0 15px; }
#myform1 textarea { padding: 0 15px; line-height: 34px; }
#myform1 .submit, #myform1 .reset { width: 119px; height: 36px; padding: 0; color: #fff; border: 0px; cursor: pointer; }
#myform1 .submit { background: url(../Images/m6-s1.png) no-repeat; }
#myform1 .reset { background: url(../Images/m6-s2.png) no-repeat; }
/*footer*/
/*.footer { width: 100%; height: 353px; color: #fff; background: url(../Images/fbg.png) repeat; overflow: hidden; }
.footer a { color: #fff; }*/
.footer { width: 100%; overflow: hidden; padding-bottom: 40px; color: #FFF; margin-top: -7px; background: #272829; min-width: 1260px; }
/*--页尾顶部*/
.footT_cont { width: 979px; margin: 0 auto; background: url(../Images/yqljbg.png) no-repeat; height: 51px; line-height: 51px; margin-top: 28px; }
.footT_cont h3 { display: inline-block; margin-left: 68px; /*margin-right:50px;*/ *float:left;
color: #666; font-size: 14px; }
.footT_cont h3 a { color: #ccc; }
.footT_cont span { _float: left; _margin-top: 15px; }
.footT_cont span a { padding-left: 11px; border-left: 1px dotted #ccc; margin-right: 11px; height: 12px; line-height: 12px; overflow: hidden; display: inline-block; color: #ccc; }
.footT_cont span a.dhTopBefore { border-left-width: 0; padding-left: 0; }
.foot_lx { margin-left: 20px; margin-top: 10px; text-align: center; margin-top: 10px; }
.foot_lx a { padding-left: 11px; border-left: 1px dotted #ccc; margin-right: 11px; height: 16px; line-height: 16px; display: inline-block; color: #ccc; }
.foot_lx a.dhTopBefore { border-left-width: 0; padding-left: 0; }
/*--页尾底部*/
.foot_bottom { width: 979px; color: #999; margin: 0 auto; }
.footer p { line-height: 20px; margin-top: 10px; margin-left: 20px; text-align: center; }
.ft_w { width: 1004px; height: 353px; margin: 0 auto; }
.flo { width: 299px; height: 121px; }
.block { width: 355px; line-height: 39px; margin-top: 20px; float: left; }
.fnav { width: 344px; margin: 32px 63px 0; float: left; height: 104px; overflow: hidden; }
.fnav a { width: 60px; display: block; margin: 0 26px; line-height: 38px; float: left; }
.fwechat { float: right; text-align: center; margin-top: 20px; }
.fwechat img { display: block; padding: 6px; background: #fff; }
#top_arrow { background: url(../Images/top.jpg) no-repeat; width: 58px; height: 38px; position: fixed; right: 5%; bottom: 10%; opacity: 0.6; }
/*子页*/
/*subBanner*/
.subBanner { width: 1004px; height: 279px; margin: 0 auto; /* background:url(../Images/subbanner.png) no-repeat; */ }
/*subMain*/
.subMain { width: 100%; min-width: 1260px; ; margin-top: 10px; }
.indMain { width: 100%; background: #D8D8D8; width: auto; min-width: 1260px; min-height: 240px; font-size: 12px; text-align: center; }
.subMain_wrap { width: 870px; margin: 0 auto; /*overflow: hidden;*/ min-height: 240px; *+height:100%;
}
.sub_left { width: 215px; float: left; }
.sub_right { width: 635px; float: left; margin-left: 15px; }
.L_tit {line-height: 36px; background: #612324; overflow: hidden; color: #BDBDBD; margin: auto; text-align: center; background: #000; height: 54px; line-height: 54px; font-family: "微软雅黑"; font-size: 20px; border-bottom: 1px solid #8B8686;/* font-weight:bold;*/ }
.en { font-size: 12px; display:none;}
.L_menu { width: 215px; margin: 0px auto 0; border-top: 1px solid #cdcdcd; font: 14px/1.5 arial, "Microsoft Yahei", "Hiragino Sans GB", sans-serif; margin-bottom: 10px; padding-bottom: 15px; background: #000; }
.L_menu li, .L_menu H3 { line-height: 30px; text-decoration:nonecolor: #666;
overflow: hidden; background: #353535; border-bottom: 1px solid #8B8686; height: 45px; margin-left: auto; margin-right: auto; }
.L_menu li a, .L_menu H3 a { display: block; margin: 0 auto; line-height: 45px; text-align:center; color: #BDBDBD; font-size: 14px; font-weight: normal; text-decoration: none; }
.L_menu h3 a:hover, .L_menu h3 a.jd { font-weight: bold; background: #690203; }
.L_menu .yy { border: none; padding-top: 1px; }
.L_menu li ul { margin: 0; width: 200px; border: 0px; padding: 0; }
.L_menu li ul li { width: 200px; background: none; margin: 0 auto 3px; }
.L_menu .yy li a { width: 200px; text-indent: 30px; color: #505050; background: url(../Images/box_icon1.png) 15px 10px no-repeat; }
.L_menu .yy li a:hover { width: 200px; text-indent: 30px; color: #505050; background: url(../Images/link_bg_3.jpg) 0 -3px no-repeat; }
.L_menu h3 ul li a:hover, .L_menu li ul li .jd { font-weight: bold; }

.L_hot { margin: 19px 0 0; }/*侧边滚动*/
.L_hot { margin: 0 auto; overflow: hidden; position: relative; border: 1px solid #ccc; }
.L_hot .hd { overflow: hidden; height: 30px; background: #f4f4f4; padding: 0 10px; }
.L_hot .hd .prev, .L_hot .hd .next { display: block; width: 9px; height: 5px; float: right; margin-right: 5px; margin-top: 10px; overflow: hidden; cursor: pointer; background: url("../Images/arrow.png") 0 -100px no-repeat; }
.L_hot .hd .next { background-position: 0 -140px; }
.L_hot .hd .prevStop { background-position: -60px -100px; }
.L_hot .hd .nextStop { background-position: -60px -140px; }
.L_hot .bd { padding: 10px; }
.L_hot .bd ul { overflow: hidden; zoom: 1; }
.L_hot .bd ul li { text-align: center; zoom: 1; }
.L_hot .bd ul li .pic { text-align: center; }
.L_hot .bd ul li .pic img { width: 170px; height: 200px; display: block; padding: 2px; border: 1px solid #ccc; margin:auto; }
.L_hot .bd ul li .pic a:hover img { border-color: #999; }
.L_hot .bd ul li .title { line-height: 24px; }
.L_con, .L_cod { margin-top: 19px; }
.cneir { border: 1px solid #ccc; padding: 19px 11px 12px; background: url(../Images/sub_11.png) 11px 19px no-repeat; }
.L_cod .cneir { border: 1px solid #ccc; padding: 19px 11px 12px; background: url(../Images/sub_11.png) 11px 19px no-repeat; }
.cneid { border: 1px solid #ccc;   width:203px; height:330px; overflow: hidden; padding-left:10px; padding-bottom:15px; }
.cneid ul {background: url(../Images/news_list_bg.gif) no-repeat 0 7px; width:180px; padding-left:20px;}
.cneid ul li{ width:170px; line-height:24px; white-space: nowrap; padding-left:10px;overflow: hidden; text-overflow: ellipsis;}
.cneir i { display: block; font-style: normal; padding-left: 60px; }
.cneir span { margin-top: 10px; display: block; color: #666; }

.pno, .cneir a { color: #666; }
.R_position { width: 635px; height: 34px; line-height: 34px; border: 1px solid #dcdbdb; }
.positionText { text-indent: 10px; }
.R_content { line-height: 24px; border: 1px solid #dcdbdb; margin-top: 10px;  min-height: 550px; }
.R_content a { color: #059; }
.R_content1 { line-height: 24px; border: 1px solid #dcdbdb; border-top: 0px; margin-top: 12px; min-height: 650px; }
.Block_text h1 { width: 500px; line-height: 30px; margin: 20px auto; text-align: center; font-size:20px; }
.n_tit { text-align: center; padding-bottom: 5px; display: block; border-bottom: 1px dashed #8B8686; color: #999; margin-top: 20px; }
.n_tit span { margin-left: 30px; }
.R_content .cntrBody { padding: 20px; padding-bottom: 20px; }
.R_content .cntrBody img { min-width:500px; max-width: 600px; margin:auto; }
.R_content .cntrBody p{text-indent:0px;}
/*案例列表*/
.piclist { }
.piclist ul { width: 640px; overflow: hidden; }
.piclist ul li { width: 205px; float: left; margin: 15px 3px; _display: inline; text-align: center; white-space: nowrap; }
.piclist ul li span { width: 203px; height: 223px; display: block; background: #fff; border: 1px solid #999; }
.piclist ul li span a.pic_box { width: 200px; height: 220px; display: block; border: 0px solid #fff; background: #f2f2f2; margin: 2px; overflow: hidden; text-align: center; }
.piclist ul li span a.pic_box:hover { }
.piclist ul li .pic_lab { width: 100%; line-height: 40px; font-size: 13px; display: block; background: #4E4E4E; color: #fff; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.piclist ul li .pic_lab:hover { }
/*影片列表*/
.movielist { }
.movielist { width: 640px; overflow: hidden; }
dl.dl_h3_sp { width: 295px; padding: 10px 15px 0 10px; float: left; display: inline-block; }
dl.dl_h3_sp dt { width: 290px; height: 250px; overflow: hidden; }
dl.dl_h3_sp dd { margin: 2px 0 0 0; width: 290px; height: 24px; line-height: 24px; overflow: hidden; text-align: center; }

/*产品详情*/
.pro_top { padding: 0 0px 10px; overflow: hidden; }
.pt_left { width: 100%; height: auto; float: left; }
.pt_left i { display: block; width: 24px; height: 24px; background: #fff url(../Images/fdj.png) center center no-repeat; position: absolute; bottom: 1px; right: 1px; }
.pt_right { width:100%; _width: 600px; float: right; padding-top: 10px; }
.pro_detail { width: 600px; margin:auto;  overflow: hidden; line-height: 24px; font-size: 15px; padding: 10px 0; /* background:url(../Images/mp2.png) bottom repeat-x; */ }
.pro_detail p{ width:600px;}
.pro_detail em {font-weight: 700;float: left; font-style:normal;}
.pro_detail ul{ width:640px; margin:10px auto;}
.pro_detail li { margin-top: 5px; width:260px; float:left; margin-left:20px; padding-left:5px;font-size: 12px; font-family: 微软雅黑; border-bottom:1px solid #CCC; }
.pr-cs1{float:left; margin-top:10px; font-weight: bold;width:50%; padding: 5px 40px;line-height: 22px; font-size:15px;}
.pnum { font-family: impact; font-size: 18px; color: #c29446; line-height: 30px; height: 30px; }
.fo { display: block; margin-top:20px; background: url(../Images/order_icon.gif) no-repeat; width: 135px; height: 40px; float:left; }

.plink { width: 414px; _width: 370px; height: 96px; background: #f2f2f2 url(../Images/subli3.png) top repeat-x; margin-top: 10px; padding: 15px 0 0 15px; _padding-left: 10px; }
.pgong, .padd, .pbook { display: block; margin-right: 10px; _margin-right: 8px; float: left; }
.pbook { width: 122px; height: 38px; background: url(../Images/book.png) no-repeat; }
.pgong { width: 120px; height: 36px; background: url(../Images/gongyi.png) left no-repeat; }
.padd { width: 96px; height: 36px; background: url(../Images/add.png) left no-repeat; }
.pshare { float: left; width: 242px; border: 1px solid #dcdbdb; padding: 0 5px; margin-top: 10px; clear: both; }
.pshare span { float: left; }
.bdsharebuttonbox { float: left; }
.pro_bot { width: 100%; height: auto; padding-top: 10px; overflow: hidden; }
.btitile { width: 100%; height: 35px; /* background:#e5e5e5; */ }
.btitile span { display: block; width: 127px; height: 35px; line-height: 35px; float: left; text-align: center; color: #fff; font-size: 14px; font-weight: bold; background: #612324; }

.bcontent { width: 550px; margin:auto;padding: 10px 35px; }
.btitile1 ,.btitile0{width: 100%; height: 28px; position: relative; background:#DFE2DF; line-height:25px; padding-top:5px;/*background: url(../Images/fen_ge_01.jpg) no-repeat 0 0px;*/  }
.btitile0 span ,.btitile1 span{ text-align: center;  width: auto; padding: 0 35px; float: left; font-size: 15px; font-weight: bold; color: #000; }
.book { width: 635px; }
.fdj { position: absolute; width: 24px; height: 24px; right: 0; bottom: 0; background: url(../Images/fdj.png) no-repeat; }
.MsgList {padding-left:5px; bottom-top:25px; overflow:hidden;}
.MsgList ul li{ width:725px; padding:20px 0; display:block; overflow:hidden; border-bottom:1px dotted #CCCCCC }
.MsgList ul li img{ width: 79px;float: left;background:url(../Images/nopic.jpg) no-repeat;}
.MsgList ul li dd{ width:630px; float:right; display:block;}
.MsgList ul li dd a{ width:551px; height:25px;  display:block; font-size:14px; font-weight:bold; text-align:left;  color: #794233}
.MsgList ul li dd a i{ float:right; font-size:11px;}
.MsgList ul li dd p{ width:551px;  padding-top:5px; line-height:25px;text-align:left; font-size:13px; color: #794233; overflow:hidden;}
.post_box input,textarea{ height:15px; line-height:15px; border:1px solid #D5D5D5; margin:5px 10px; padding:2px 5px;}
.post_box textarea{ height:100px;}
/*地图*/
.R_content .SiteMap ul li { font-weight: bold; line-height: 25px; padding: 10px 20px; border-bottom: 1px dashed #CCCCCC; font-size: 14px; background: url("../Images/ico4.jpg") no-repeat left 18px; }
.R_content .SiteMap ul li ul li { font-weight: normal; border-bottom: none; font-size: 12px; background: none; padding: 5px 0px; }
/*案例图片*/
.ImageList { padding: 10px 0px; }
.Block_text img { max-width: 650px; }
.ImageList .ImageBlockBG { float: left; padding: 10px 10px 20px 10px; }
.ImageList .ImageBlockBG { padding: 10px 10px 20px 10px; }
.ImageList .ImageBlock { padding: 10px; width: 177px; height: 153px; overflow: hidden; border: 1px solid #DDDDDD; cursor: pointer; }
.ImageList .ImageBlock { height: 153px; float: left; padding: 5px; }
.ImageList .ImageBlock:hover { border: 1px solid #2274d9; background-color: #F5F5F5; }
.ImageList .ImageBlock .ImageNote { padding: 5px; line-height: 25px; color: #FFFFFF; font-size: 11px; }
.ImageList .ImageBlock p a { color: #FFFFFF; }
.ImageList .ImageBlock img { width: 175px; height: 131px; border: 1px solid #F5F5F5; }
.ImageList .ImageBlock img:hover { border: 1px solid #DDDDDD; }
.ImageList .ImageBlock p { text-align: center; bottom: 0px; background-color: #333; color: #FFFFFF; filter: alpha(opacity=80); -moz-opacity: 0.8; opacity: 0.8; height: 20px; line-height: 20px; }
.ImageList .ImageBlock p { color: #FFFFFF; }
.ImageList .ImageBlock a { text-decoration: none; }
/*推荐资讯*/
.recom { width: 650px; border-left: 1px solid #dcdbdb; ; border-right: 1px solid #dcdbdb; border-bottom: 1px solid #dcdbdb; ; height: auto; margin-top: 12px; float: right; }
.tit1 { line-height: 30px; width: 100%; height: 34px; position: relative; /*background:#612324;*/ background: url(../Images/fen_ge_01.jpg) no-repeat 0 0px; }
.tit2 { line-height: 30px; width: 100%; height: 38px; position: relative; /*background:#612324;*/ background: url(../Images/title.png) no-repeat 0 0px; }
.tit2 h1 { line-height: 30px; color: #FFF; padding-top: 4px; padding-left: 40px; font-size: 18px; }
.Block_text2 { padding: 15px 20px 10px 20px; }
.tit1 b { text-align: center; width: auto; padding: 0 55px; float: left; font-size: 15px; font-weight: bold; color: #333; }
/*分页*/
.recomn { width: 784px; }
.recomn ul { margin: 10px auto; height: auto; overflow: hidden; }
.recomn li { width: 305px; float: left; margin: 0 13px; _margin: 0 8px; height: 33px; line-height: 33px; }
.recomn ul li a { display: block; height: 33px; width: 210px; line-height: 33px; float: left; text-indent: 10px; background: url(../Images/subli.png) left center no-repeat; white-space: nowrap;overflow:hidden; text-overflow:ellipsis; }
.recomn ul li b { display: block; height: 33px; width: 70px; font-weight: normal; float: right; color: #969696; }
/*首页*/
.indcomn, .indcomn1 { width: 1000px; }
.indcomn ul { margin: 10px auto; height: auto; overflow: hidden; }
.indcomn li { width: 440px; padding-left: 30px; float: left; margin: 0 13px; _margin: 0 8px; height: 25px; line-height: 25px; }
.indcomn ul li a { display: block; height: 33px; width: 320px; line-height: 33px; float: left; text-indent: 20px; background: url(../Images/box_icon1.png) left center no-repeat; }
.indcomn ul li b { display: block; height: 33px; width: 70px; font-weight: normal; float: right; color: #969696; }
.NewsList2 { padding: 0 15px 0 15px; overflow: hidden; font-size: 13px; }
.NewsList2 dl { width: 650px; height: 77px; padding: 5px 0 5px 0; border-bottom: 1px dashed #949494; overflow: hidden; padding-bottom: 15px; }
.NewsList2 dl dt { float: left; width: 100px; height: 63px; padding: 5px; border-right: 1px solid #D1D1D1; overflow: hidden; color: #858585; font-size: 14px; line-height: 24px; }
.NewsList2 dl dt img { width: 100%; height: 65px; }
.NewsList2 dl dt span { font-size: 20px; color: #612324; font-weight: bold; }
.NewsList2 dl dd { float: left; width: 500px; padding-left: 10px; margin: 0; height: 77px; overflow: hidden; position: relative; }
.NewsList2 dl dd .news_title { float: left; width: 400px; height: 27px; line-height: 27px; color: #222222; font-size: 16px; font-weight: bold; padding: 0px 0 0 0px; overflow: hidden; border: none; background: none; }
.NewsList2 dl dd .news_title a { color: #222; }
.NewsList2 dl dd .news_time { width: 90px; height: 24px; padding: 0px 0 3px 0px; overflow: hidden; position: absolute; top: 0; right: 0px; }
.NewsList2 dl dd .news_more a { display: inline-block; color: #fff; width: 70px; height: 24px; background-color: #612324; text-align: center; line-height: 24px; overflow: hidden; }
.NewsList2 dl dd .news_text { padding: 5px; width: 490px; height: 35px; line-height: 20px; color: #7E7E7E; overflow: hidden; }
/*-------*/
dl.news_dl { font-size: 14px; color: #000; padding: 0 5px; line-height: 22px; border-bottom: 1px dashed #CCCCCC; }
dl.news_dl dt { margin-bottom: 3px; margin-top: 5px; line-height: 24px; height: 24px; width: 98%; overflow: hidden; }
dl.news_dl dd { font-size: 12px; padding-left: 10px; height: 45px; width: 95%; overflow: hidden; margin-bottom: 2px; }
dl.news_dl .dt_1 { height: 20px; background: url(../Images/box_icon1.png) no-repeat 0 6px; padding-left: 10px; font-size: 14px; color:#000; font-weight: bold; }
dl.news_dl .dt_2 { font-size: 12px; float: right; padding: 0 10px 0 8px; font-family: "微软雅黑"; }
.int_1 { width: 48%; float: left; margin-left: 15px; }
/* search content */
#search_content .searchtip { line-height: 25px; font-size: 14px; font-weight: bold; padding-left: 10px; BORDER-bottom: #023848 1px solid; padding-top: 10px; }
#search_content .result_list { padding: 10px 10px; }
#search_content .result_list dt { font-size: 14px; font-weight: bold; padding-top: 10px; line-height: 25px; font-family: Microsoft Yahei; }
#search_content .result_list dd { padding: 0 0 5px 0; margin: 0px; line-height: 20px; }
.FontRed { color: #FF0000; }
#search_content .result_list .line { BORDER-bottom: #E9E8E8 1px dashed; }
#search_content .result_list .line a { padding-right: 20px; }
#search_content .result_list .line a:hover { text-decoration: none; }
#search_content .search_welcome { line-height: 25px; text-align: center; }
#search_content .search_welcome p { text-align: center; }
#search_content .result_page { text-align: center; font-size: 13px; padding: 10px; }
#search_content .result_page span { font-size: 12px; font-family: arial; padding: 0 5px; }
.text_block ul { float: left; margin: 0 7px; _margin: 0 5px; }
.text_block ul h3 { _font-size: 14px; border: 1px solid #454545; padding: 0 7px; _padding: 0 5px; }
.text_block ul a { text-align: center; display: block; }
