/* tit1 */
.tit1 span{
    background-image: url(../img/dynamic/dynamic_txt_group.png);
}
.tit1 span.txta{
	background-position: 0 0;
}
.tit1 span.txtb{
	background-position: 0 -24px;
}
.tit1 span.txtc{
	background-position: 0 -48px;
}
.tit1 span.txtd{
	background-position: 0 -72px;
}
.tit1 span.txte{
	background-position: 0 -96px;
}
.tit1 span.txtf{
	background-position: 0 bottom;
}

/* *** */

.set_lastli ul li.last{
	margin-right: 0 !important;
}

.special,
.vid_pic,
.the_events{
	margin-bottom: 15px;
}

/* det */
.dynamic .det {
    background: url(../img/global/line_bg.jpg) no-repeat #fff;
    padding: 20px;
}

/* 专题 */
.dynamic .special .tabcon ul{
	padding: 22px 0 0;
	display: none;
}
.dynamic .special .tabcon ul li{
	width: 143px;
	float: left;
	border: 1px solid #6b5030;
	background: #fff;
	border-radius: 0 0 6px 6px;
	margin:0 16px 0 0;
}
.dynamic .special .tabcon ul li a{
	display: block;
}
.dynamic .special .tabcon ul li a.pic{
	height: 97px;
	overflow: hidden;
}
.dynamic .special .tabcon ul li a.pic img{
	margin: 5px;
}
.dynamic .special .tabcon ul li a.tit{
	background: #6b5030;
	color: #fff;
	text-align: center;
	line-height: 28px;
}
/* <?=g('cp_name')?>视频 */
.dynamic .vid_pic .tabcon ul{
	padding-top: 20px;
	display: none;
}
.dynamic .vid_pic .tabcon ul li{
	width: 161px;
	height: 161px;
	float: left;
	margin-right: 30px;
	position: relative;
	border-radius: 2px;
	overflow: hidden;
	-moz-box-shadow: 0 0 2px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,.5);
	box-shadow: 0 0 2px rgba(0,0,0,.5);
}
a.player_ico{
	display: block;
	position: absolute;
	width: 36px;
	height: 36px;
	left: 63px;
	top: 63px;
}
h2.tit_move{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 38px;
	width: 161px;
	overflow: hidden;
}
h2.tit_move span{
	display:block;
	color: #fefefe;
	position: absolute;
	left: -161px;
	background: rgba(0,0,0,.5);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = 'true',startColorstr = '#80000000',endColorstr = '#80000000');
	line-height: 38px;
	text-align: center;
	width: 100%;
	font-weight: normal;
	font-size: 16px;
}
/* <?=g('cp_name')?>大事记 */
.the_events_tabs{
	background: url(../img/dynamic/tabbg.jpg) no-repeat 106px bottom #f8fff0;
	width: 1158px;
	margin: 0 auto;
	position: relative;
	border-radius: 4px;
	border: 1px solid #5a3f1d;
}
.the_events_tabs .tabtit{
	position: relative;
	z-index: 2;
	padding: 15px 0 0 15px;
	width: 100px;
}
.the_events_tabs .tabtit a{
	display: block;
	font-size: 16px;
	width: 60px;
	line-height: 40px;
	text-align: center;
	color: #373737;
	background: #fff;
	margin-bottom: 5px;
	border: 1px solid #ccc;
}
.the_events_tabs .tabtit a.active{
	border-left: 3px solid #fe8400;
	width: 58px;
}
.the_events_tabs .tabcon{
	height: 235px;
	overflow: auto;
	width: 1000px;
}
.the_events_tabs .tabcon div.items{
	display: none;
	font-size: 18px;
	line-height: 2em;
	padding: 10px 20px;
	height: 215px;
	overflow: auto;
}

/*** 动态详情 ***/

/* tit2 */
.tit2 span{
    background-image: url(../img/dynamic/dydet_txt_group.png);
}
.tit2 span.txta{
	background-position: 0 0;
}
.tit2 span.txtb{
	background-position: 0 -20px;
}
.tit2 span.txtc{
	background-position: 0 -40px;
}
.tit2 span.txtd{
	background-position: 0 -60px;
}
.tit2 span.txte{
	background-position: 0 -80px;
}
/* det */
.dynamic.details .main{
	overflow: hidden;
}
.dynamic.details .det{
	padding: 15px;
}
.dynamic.details .det h1{
	font-size:26px;
	font-weight:normal;
	color:#333;
	line-height:35px;
	margin-bottom:30px;
}
.dynamic.details .det .article_mark{
	height:40px;
}
.dynamic.details .det .article_mark p,
.dynamic.details .det .article_mark p span,
.dynamic.details .det .article_mark p a{
	font-size:14px;
}
.dynamic.details .det .article_mark p a{
	margin-right:10px;
}

p.article_abstract {
    background: #f6efe7;
    border-radius: 6px;
    color: #595959;
    font-size: 14px;
    line-height: 1.8em;
    margin-bottom: 10px;
    padding: 8px;
}

#article-detailcontent p, .details_txt p, p.article {
    color: #776765;
    font-family: "宋体";
    font-size: 16px;
    line-height: 2em;
    margin-bottom: 20px;
    text-indent: 1.8em;
}

.dynamic.details .det .video{
	height:527px;
	margin-bottom:20px;
}

.picture_album{
	border:1px solid #ede9e9;
	padding:5px;
	margin-bottom:20px;
}
.bigimg_box{
	position:relative;
	height:400px;
	overflow:hidden;
	text-align: center;
}
.bigimg_box .goPrev,
.bigimg_box .goNext{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none;	
}
.bigimg {
    display: inline;
}
.picture_album_big .bigimg_box{
	height:579px;
}
.opacity04{
	height:50px;
	background:url(../img/global/opacity04.png);
	position:absolute;
	width:100%;
	left:0;
	bottom:0;
}
.opacity04 p,
.opacity04 a,
.opacity04 span{
	font-size:14px;
	color:#fff;
	line-height:50px;
}
.opacity04 .imgtit{
	padding-left:20px;
	width:350px;
	text-align: left;
}
.opacity04 .imgnum_box{
	padding-right:10px;
}
.smallimg_box{
	padding-top:10px;
	position:relative;
	height:72px;
}
.smallimg_box a.prev,
.smallimg_box a.next{
	width:17px;
	height:64px;
	position:absolute;
	text-indent:-9999px;
}
.smallimg_box a.prev{
	background:url(../img/global/btns.gif) left top no-repeat;
	left:0;
	bottom:10px;
	display: block;
}
.smallimg_box a.next{
	background:url(../img/global/btns.gif) right top no-repeat;
	right:0;
	bottom:10px;
	display: block;
}
.smallimg_box a.hidden{
	display:none;
}
.jcarousellite{
	margin-left:18px;
	height:75px;
	overflow:hidden;
}
.smallimg_box ul li{
	padding:0 5px;
}
.picture_album_big .smallimg_box ul li{
	padding:0 11px;
}
.smallimg_box ul li img{
	border:2px solid #ccc;
	border-radius:4px;
	width:90px;
	height:60px;
	padding:4px;
}
.smallimg_box ul li.curr img{
	border-color:#8e1f20;
}

.dynamic.details .det .related_news {
	padding:10px 0;
	border-color:#d9d9b1;
	border-style:dotted;
	border-width:1px 0;
}
.dynamic.details .det .related_news ul li{
	line-height:26px;
	padding:0 25px;
	background:url(../img/global/liststyle.gif) 10px 13px no-repeat;
}
.dynamic.details .det .related_news ul li a{
	font-size:14px;
	color:#777045;
}
.dynamic.details .det .related_news ul li span.right{
	color:#777045;
}
.dynamic.details .det .related_news h2.bg1{
	color: #972829;
	margin-bottom: 10px;
}
.leave_mess h2.bg2{
	color: #972829;
	margin-bottom: 10px;
}
.dynamic.details .det p.statistical{
	color:#777045;
	font-size:14px;
	line-height:2em;	
}
.dynamic.details .det p.statistical span{
	padding-right:10px;
}
.leave_mess{
	padding-top:10px;
}
.editor{
	padding:10px 0;
}
.leave_mess button{
	width:126px;
	height:34px;
	background:#c30d23;
	color:#fff;
	font-family:"Microsoft Yahei";
	border:none;
	font-size:16px;
}

/* aside */
ul.news_list li.even{
	background-color: #eae7e2;
}

.dynamic.details .aside .items{
	margin-bottom:10px;
}
.dynamic.details .aside .items a.pic{
	display:block;
	padding:10px;
	background:#f4f4f4;
	width:138px;
	height:103px;
	margin: 0 auto;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.3);
	box-shadow: 0 0 3px rgba(0,0,0,.3);
	border: 1px solid #ededed;
}
.dynamic.details .aside .items p.txt{
	line-height:26px;
	text-align:center;
}
.dynamic.details .aside .items p.txt a{
	font-size:14px;
	color:#333;
}

/* 图片新闻 */
.img_news .det{
	background: url("../img/global/line_bg.jpg") no-repeat scroll 0 0 #fffaee;
    padding: 20px;
}
.img_news .tit1 span{
    background: url(../img/dynamic/tit_news.png) no-repeat;
}

ol.leave-msglist { font-size:14px; }
.leave-msglist li { float:none !important; width:auto !important; min-height:85px; zoom:1; padding:12px 10px 22px 0 !important; border-top:1px dashed #c5c5c5; border-bottom:0 none !important; }
.leave-msglist li a.avatar { width:47px; height:47px; }
.leave-msglist li img{ border:none !important;}
.leave-msglist li a.avatar img { display:block; }
.leave-msgbody { margin-left:85px; word-wrap:break-word; word-break:break-all; }
.leave-msgbody h6 { height:20px; overflow:hidden; margin-bottom:4px; }
.leave-msgbody h6 span.ip { color:#966943; }
.leave-msgcontent { /* position:relative; padding-right:130px; */ overflow:hidden; margin-bottom:24px; line-height:1.5; }
.leave-msgcontent span.time { position:absolute; right:0; top:0; color:#966943; }
a.repaly-btns { display:inline-block; color:#966943; text-decoration:underline; }
.textarea-box { padding-top:12px; display:block; }
.textarea-box textarea { /* width:510px; */ display:block; width:498px; border:0 none;  height:150px; }
.leave-comment { border-top:1px dashed #c5c5c5; padding-top:10px; }
a.smaller-avatar img { height:16px; width:16px; padding:2px; border:1px solid #B9E38F; }
.xhe_default { display:block; }
#wish-msgbox p{
	margin-bottom: 10px;
}