/* det */
.login .det {
    background: url("../img/global/line_bg.jpg") no-repeat #fffaee;
    padding: 20px;
}
.login .tit1 span{
	background-image: url(../img/login/login_tit.png);
}

.login_top{
	height: 107px;
	padding-top: 40px;
	background:  url(../img/login/login_bar.jpg);
	text-align: center;
}
.login_top a{
	cursor: pointer;
	display: inline-block;
	width: 268px;
	height: 70px;
	line-height: 70px;
	color: #fff;
	text-align: center;
	font-size: 32px;
	background-color: #d19f32;
	background-image: -moz-linear-gradient(top, #d19f32, #654704);
	background-image: -webkit-linear-gradient(top, #d19f32, #654704);
	background-image: -ms-linear-gradient(top, #d19f32, #654704);
	background-image: linear-gradient(top, #d19f32, #654704);
	margin: 0 10px;
}
.login_top a.now{
	background: #664b2c !important;
	position: relative;
}
.login_top a span{
	position: absolute;
	display: none;
	width: 28px;
	height: 14px;
	background: url(../img/login/j.png) no-repeat;
	bottom: -37px;
	_bottom: -43px;
	left: 45%;
}
.login_top a.now span{
	display: block;
}
.login_det{
	background: #fff9e4;
	padding: 60px 0;
}
.login_det .login_tab_items{
	display: none;
}
.login_det .items{
	width: 520px;
	margin: 0 0 15px 350px;
}
.login_det .items span{
	display: block;
	color: #626161;
	line-height: 42px;
}
.login_det .items span.txtr{
	text-align: right;
}
.login_det .items span.txtr i{
	margin-right: 5px;
	color: #e39301;
}
.login_det .items span.right{
	width: 435px;
}
.login_det .items span input.txt{
	width: 320px;
	height: 30px;
	line-height: 30px;
	padding: 5px;
	border: 1px solid #d7d7d7;
}
.login_det .items .login_btn{
	width: 331px;
	height: 46px;
	color: #fff;
	font-size: 20px;
	background: url(../img/login/login_btn.png);
}
.forget{
	text-align: center;
	padding: 40px 0 0;
	border-top: 1px solid #d8d8d8;
}
.forget a{
	display: inline-block;
}
.forget a.txt{
	font-size: 24px;
	color: #78ab1a;
}
.forget a.btn{
	width: 154px;
	height: 28px;
	line-height: 25px;
	_line-height: 28px;
	background: #664b2c;
	color: #fff;
	font-size: 18px;
}
a.refresh{
	color: #ec9801;
	font-size: 16px;
	margin-left: 10px;
}
.btn1{
	width: 330px;
	color: white;
	height: 40px;
	border: none;
	cursor: pointer;
	background-color: #d19f32;
	background-image: -moz-linear-gradient(top, #d19f32, #654704);
	background-image: -webkit-linear-gradient(top, #d19f32, #654704);
	background-image: -ms-linear-gradient(top, #d19f32, #654704);
	background-image: linear-gradient(top, #d19f32, #654704);
}























	
	
	
	
	
	
	
	
	
	


