@charset "utf-8";

/*---------------全局---------------*/
body,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,table,tr,td,img,a,form,input,textarea,button{ 
	color:#4f4f4f;
	font-family:"Microsoft Yahei";
	font-size:14px;
	margin:0;
	padding:0;
}
html { _background-image:url(about:blank); _background-attachment:fixed;}
li{
	list-style:none;
}
a{
	text-decoration:none;
}
img{
	border:none;
}
button{
	border:none;
	font-family:"Microsoft Yahei";
	cursor:pointer;
}

