/* .sacrifice .skin_img{
	height: 78px;
} */
.sacrifice .container{
	overflow: hidden;
}
/* tit2 */
.tit2 span{
    background-image: url(../img/sacrifice/sacrifice_txt_group.png);
}
.tit2 span.txta{
	background-position: 0 0;
}
.tit2 span.txtb{
	background-position: 0 -20px;
}
.tit2 span.txtc{
	background-position: 0 -40px;
}
.tit2 span.txtd{
	background-position: 0 -60px;
}
.tit2 span.txte{
	background-position: 0 -80px;
}
.tit2 span.txtf{
	background-position: 0 -100px;
}
.tit2 span.txtg{
	background-position: 0 -120px;
}
.tit2 span.txth{
	background-position: 0 -140px;
}

.sacrifice .det{
	padding: 0 15px 15px;
}

/* slider */
.sacrifice .slider{
	min-width: 1200px;
    position: relative;
    width: 100%;
    margin: 15px 0;
}
.sacrifice .slider,
.sacrifice .slider .slider_main li{
	height: 315px;
	overflow: hidden;
}
.sacrifice .slider .slider_main{
	position: relative;
}
.slider .slider_main li{
	position: absolute;
	width: 100%;
	height: 315px;
	display: none;
}
.slider_main li img{
	width: 1200px;
	height: 315px;
	border-radius: 6px;
}
.slider_main li h2.png{
	position: absolute;
	bottom: 0;
	_bottom: -1px;
	left: 0;
	width: 100%;
	color: #fff;
	font-size: 22px;
	height: 63px;
	line-height: 63px;
	font-weight: normal;
	text-indent: 1em;
	background: url(../img/global/opacity07.png);
	border-radius: 0 0 6px 6px;
}
.slider .btns{
	left: 0;
	width: 100%;
	overflow: hidden;
	bottom: 0;
	_bottom: 5px;
	*bottom: 5px;
	position: absolute;
	z-index: 3px;
	text-align: right;
}
.slider .btns a{
	display: inline-block;
	width:50px;
	height:57px;
	cursor:pointer;
	overflow:hidden;
	margin-right: 5px;
}
.slider .btns a.active .smallpic{
	background-image: url(../img/global/slider_smallbg.png);
	_background-image: url(../img/global/slider_smallbg.gif);
	background-position: 129px top;
}
.slider .smallpic{
	width: inherit;
	height: 46px;
	background-image: none; 
	padding: 9px 0 2px;
	text-align: center;
}
.slider .smallpic img{
	width: 46px;
	height: 46px;
}

/* 祭祀广场导航 */
.conbar{
	height: 65px;
	padding-top: 28px;
	background: url(../img/sacrifice/conbar_bg.jpg) no-repeat;
	text-align: center;
}
.conbar a{
	display: inline-block;
	width: 212px;
	height: 60px;
	line-height: 60px;
	background: #f8f8f8;
	font-size: 26px;
	color: #6b4e2e;
	border: 1px solid #d5d3d0;
	border-bottom: none;
	text-shadow: 1px 1px 2px rgba(0,0,0,.25);
	border-radius: 6px 6px 0 0;
}
.conbar a.active{
	background: #6b4e2e;
	border-color: #6b4e2e;
	color: #f7fef0;
	position: relative;
}
.conbar a:hover{
	background: #6b4e2e;
	border-color: #6b4e2e;
	color: #f7fef0;
}
.conbar a b{
	display: none;
}
.conbar a.active b{
	display: block;
	position: absolute;
	bottom: -33px;
	left: 43%;
	width:0px;
	height:0px;
	border:15px dashed transparent;
	border-top-style:solid;
	border-top-color:#6b4e2e;
}

/* 微信 */
.wechat_box{
	background: #f3e7c2;
	border-radius: 4px;
	padding: 15px 15px 0;
	height: 523px;
	overflow: hidden;
	margin-bottom: 15px;
}
.wechat_box h2{
	padding: 0 70px 0 20px;
	height: 88px;
	line-height: 88px;
	margin-bottom: 15px;
	background: url(../img/sacrifice/wechat_hnbg.jpg) no-repeat;
	color: #fff;
	font-size: 24px;
	font-weight: normal;
}
.wechat_box h2 span{
	margin-left: 50px;
	font-size: 20px;
	color: #fff;
}
.wechat_box .det{
	background: none;
	padding: 0;
}
.wechat_box .det .items,
.memorial_mess .det .items{
	background: #fff;
	padding: 20px 0;
	margin-bottom: 15px;
}
.memorial_mess .det .items{
	background: #f8f7e7;
	border-bottom: 1px dotted #ccc;
}
.wechat_box .det .items a.avatar,
.memorial_mess .det .items a.avatar60{
	display: block;
	float: left;
	padding-left: 14px;
	margin-right: 12px;
	width: 50px;
	height: 50px;
}
.wechat_box .det .items a.avatar img,
.memorial_mess .det .items a.avatar img{
	width: 50px;
	height: 50px;
	border-radius: 4px;
}
.wechat_box .det .items .middle,
.memorial_mess .det .items .middle{
	float: left;
	width: 490px;
}
.wechat_box .det .items .middle a.name{
	display: block;
	height: 18px;
	color: #26709a;
}
.memorial_mess .det .items .middle a.blue{
	color: #26709a;
}
.wechat_box .det .items .middle p,
.memorial_mess .det .items .middle p{
	line-height: 1.8em;
}
.wechat_box .det .items span.right,
.memorial_mess .det .items span.right{
	line-height: 20px;
	font-size: 13px;
	color: #9c9c9c;
	margin-right: 15px;
}
/* 纪念馆祭祀 */
.memorial_mess .det{
	padding-top: 10px;
	height: 486px;
	overflow: hidden;
}
.memorial_mess .det .message_li{
	margin:0 10px;
	border-bottom:1px dotted #d1d1d1;
	padding:10px 12px;
}
.memorial_mess .det .message_li h3{
	font-weight:normal;
	font-size:14px;
	color:#965100;
	height:25px;
}
.memorial_mess .det .message_li h3 a{
	margin-right:10px;
	font-size:14px;
	color:#965100;
}
.memorial_mess .det .message_li h3 span.right{
	font-size:12px;
}
.memorial_mess .det .message_li p{
	font-size:14px;
	color:#37302f;
	line-height:2em;
	clear:both;
}
.memorial_mess .mess_prompt{
	padding: 20px;
	margin: 20px;
	font-size: 14px;
	border: 3px solid #a8ad29;
	border-radius: 8px;
	background: #f8f7e7;
	color: #37302f;
	line-height: 2em;
}
.memorial_mess .mess_prompt p{
	text-indent: 2em;
	margin-bottom: 10xp;
}
/* 纪念节日 */
.holiday .det h3{
	text-align: center;
	line-height: 2em;
	font-size: 20px;
	font-weight: normal;
}

/* 远程祭祀 */
.sacrifice .remote3d{
	background: #f3e7c2;
	border-radius: 4px;
	width: 1160px;
	margin:15px 20px;
}
.sacrifice .remote3d h2{
	background: url(../img/sacrifice/remote_tit.gif) 60px 26px no-repeat;
	height: 80px;
	text-indent: -9999px;
}
.sacrifice .remote3d .det .remote_search form{
	padding: 10px 0;
	background-color: #6b4e2e;
}
.remote_pic{
	display: block;
	width: 1127px;
	height: 545px;
	margin:0 auto 15px; 
}
.sacrifice .remote3d table{
	margin-left: 220px;
}
.sacrifice .remote3d table tr,
.sacrifice .remote3d table td{
	padding: 2px 5px;
	color: #fff;
}
.sacrifice .remote3d table td button{
	width: 64px;
	height: 30px;
	color: #5ea22a;
	background: #fff;
	border-radius: 2px;
	border: none;
}
/* 视频 */
.sacrifice .video{
	width: 1145px;
	margin:0 20px 15px;
	border-radius: 4px;
	background:#f3e7c2;
	height:546px;
	padding:15px 15px 15px 0;
	overflow: hidden;
	position: relative;
}
.sacrifice .video ul{
	background: #f9f2df;
	width:231px;
	padding:60px 10px 0;
	margin:130px 0 0 10px;
	height: 300px;
}
.sacrifice .video ul li{
	font-size:18px;
	color:#6b4e2e;
	width:195px;
	line-height:2em;
}
.sacrifice .video h3{
	position: absolute;
	left: 45px;
	top: 80px;
}

/* 最新鲜花祭祀&&最新远程祭祀 */
.new_remote .det{
	padding-top: 20px;
	overflow: hidden;
}
.new_remote div.items{
	width: 180px;
	float: left;
	padding: 0 14px 0px;
}
.new_remote div.items.active{
	background: url(../img/global/itemsbg_active.png) repeat-x center bottom;
}
.new_remote div.items .pic{
	_margin-bottom: 4px;
}
.new_remote div.items .pic img{
	width: 180px;
	height: 135px;
}
.new_remote div.items p.tit{
	height: 21px;
	line-height: 21px;
	text-align: center;
	color: #6b4e2e;
}
.new_remote div.items a.reservation{
	display: block;
	width: 160px;
	height: 31px;
	background: url(../img/after_sale/buy.png) no-repeat;
	text-indent: -9999px;
	margin:10px auto 21px;
}
